<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">{{ title }}</div>
          <router-link to="/agent" class="custom-router-link">
            Agent
          </router-link>
          /
          <router-link to="/agent" class="custom-router-link">
            {{ action }}
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/agent">
            <v-icon size="20">reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col>
          <div class="custom-title">Agent</div>
        </v-col>
        <v-col v-if="!isEdit && hasId" class="text-right">
          <v-btn outlined large color="grey darken-3" @click="isEdit = true">
            <v-icon>mdi-circle-edit-outline</v-icon>
            Edit
          </v-btn>
        </v-col>
      </v-row>
      <v-container>
        <v-form v-if="isEdit || !hasId" v-model="formValid">
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-text-field
                v-model="formData.agentName"
                title="Agent Name"
                :required="true"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-select
                v-model="formData.transportId"
                title="Import/Export"
                :items="getTransport"
                :required="true"
              />
            </v-col>
            <v-col class="pa-2" cols="12" md="3">
              <base-select
                v-model="formData.transportTypeId"
                title="Sea/Airplane"
                :items="getTransportType"
                :required="true"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="6">
              <base-text-field
                v-model="formData.agentDescription"
                title="Description"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-select
                v-model="formData.status"
                title="Status"
                :items="getStatus"
                :required="true"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="auto">
              <v-btn
                color="blue darken-1"
                depressed
                large
                :dark="formValid"
                :disabled="!formValid"
                @click="onSave"
              >
                <v-icon>save</v-icon>
                Save
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn
                depressed
                large
                dark
                color="red lighten-1"
                @click="onReset"
              >
                Reset
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn outlined large color="grey darken-3" @click="onCancel">
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
        <div v-if="!isEdit && hasId">
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display title="Agent Name" :text="formData.agentName" />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display
                title="Description"
                :text="formData.agentDescription"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display
                title="Status"
                :text="
                  getStatus.find(item => {
                    return item.value == formData.status
                  }).text
                "
              />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>

    <!-- DIALOG -->
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Success!!</v-card-title>

        <v-card-text>
          Back to Main page?
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn text @click="dialog = false">
            Stay
          </v-btn>

          <v-btn color="green darken-1" text to="/agent">
            Go Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      action: 'Add Agent',
      isEdit: false,
      formValid: false,
      rules: [v => !!v || 'Name is required'],
      formData: {
        agentId: 0,
        agentName: '',
        agentDescription: '',
        status: true,
        transportId: 1,
        transportTypeId: 1
      },
      originForm: null,
      getStatus: [
        { text: 'Active', value: true },
        { text: 'In-Active', value: false }
      ]
    }
  },
  computed: {
    getTransport() {
      return this.$store.state.transport.filter(item => {
        item.value = item.transportId
        item.text = item.transportDesc
        return item.transportId > 0
      })
    },
    getTransportType() {
      return this.$store.state.transportType.filter(item => {
        item.value = item.transportTypeId
        item.text = item.transportTypeDesc
        return item.transportTypeId > 0
      })
    },
    hasId() {
      return this.$route.params.id ? true : false
    },
    title() {
      if (this.hasId) {
        if (this.isEdit) {
          return 'Edit Agent'
        } else {
          return 'Agent Detail'
        }
      }
      return 'Add Agent'
    },
    agentError() {
      return this.$store.state.agentError
    }
  },
  mounted() {
    this.$store.dispatch('getTransport')
    this.$store.dispatch('getTransportType')
    if (this.hasId) {
      this.$store.dispatch('getAgent', [this.$route.params.id]).then(() => {
        this.formData = this.$store.state.agents[0]
        this.originForm = JSON.parse(JSON.stringify(this.formData))
        this.formValid = true
        this.action = this.formData.agentName
      })
    }
  },
  methods: {
    onReset() {
      // this.formData.agentId = this.originForm.agentId
      this.formData.agentName = this.originForm.agentName
      this.formData.agentDescription = this.originForm.agentDescription
      this.formData.status = this.originForm.status
      this.formData.transportId = this.originForm.transportId
      this.formData.transportTypeId = this.originForm.transportTypeId
    },
    onCancel() {
      if (this.hasId) {
        this.isEdit = false
        this.onReset()
      } else {
        this.$router.push('/agent')
      }
    },
    onSave() {
      console.log('save')
      if (this.hasId) {
        this.formData.agentId = this.$route.params.id
        this.$store.dispatch('putAgent', this.formData).then(() => {
          // console.log(this.agentError)
          this.succeccUpload()
        })
      } else {
        this.$store.dispatch('postAgent', this.formData).then(() => {
          // console.log(this.agentError)
          this.succeccUpload()
        })
      }
    },
    succeccUpload() {
      this.dialog = true
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
