<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Agent</div>
          <router-link to="/agent" class="custom-router-link">
            Agent
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn
            class="mx-1"
            color="grey darken-3"
            outlined
            to="/agentManaging"
          >
            <v-icon size="20">mdi-plus</v-icon>
            Add Agent
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table :headers="headers" :items="agentList" :search="search">
        <template v-slot:item.status="{ item }">
          <v-chip
            v-if="item.status"
            class="font-weight-bold"
            color="green"
            small
            label
            dark
          >
            Active
          </v-chip>
          <v-chip v-else class="font-weight-bold" color="red" small label dark>
            In-Active
          </v-chip>
        </template>
        <template v-slot:item.manage="{ item }">
          <v-btn text class="info--text" :to="`/agentManaging/${item.agentId}`">
            <v-icon color="info">search</v-icon> Detail
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
      headers: [
        { text: 'ID', value: 'agentId' },
        { text: 'Agent Name', value: 'agentName' },
        { text: 'Status', value: 'status' },
        { text: 'Management', value: 'manage' }
      ]
    }
  },
  computed: {
    agentList() {
      return this.$store.state.agents
    }
  },
  mounted() {
    this.$store.dispatch('getAgent')
  },
  methods: {}
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
