<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <div class="custom-title">Import - Export Calculate</div>
      <router-link to="/calculator" class="custom-router-link">
        Import - Export Calculate
      </router-link>
    </v-card>
    <v-card class="ma-5 pa-5" outlined>
      <div class="custom-title">Search</div>
      <v-container>
        <v-row>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="transport"
              title="Import/Export"
              :items="getTransport"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="transportType"
              title="Sea/Airplane"
              :items="getTransportType"
              required
            />
          </v-col>
        </v-row>
        <v-row v-if="transport != '' && transportType != ''">
          <v-col class="pa-2" cols="12" md="2">
            <base-select
              v-model="fromCountry"
              title="Departure Country"
              :items="getFromCountry"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="fromCountryLocation"
              :title="`Departure ${port}`"
              :items="getFromCountryLocation"
              required
            />
          </v-col>
          <v-col class="pt-9 text-center" cols="12" md="1">
            <v-icon v-if="transportType == 1" color="info" x-large
              >airplanemode_active</v-icon
            >
            <v-icon v-else color="info" x-large>directions_boat</v-icon>
          </v-col>
          <v-col class="pa-2" cols="12" md="2">
            <base-select
              v-model="toCountry"
              title="Arrive Country"
              :items="getToCountry"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="toCountryLocation"
              :title="`Arrive ${port}`"
              :items="getToCountryLocation"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-date-picker v-model="startDate" title="From date" required />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-date-picker
              v-model="endDate"
              title="To Date"
              :thruDate="startDate"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="departmentId"
              title="Department"
              :items="departmentList"
            />
          </v-col>
        </v-row>
        <v-row v-if="transportType == 2">
          <v-col class="pa-2" cols="12" md="3">
            <!-- title="ประเภท Container load" -->
            <base-select
              v-model="shipment"
              title="Container Load Type"
              :items="getShipment"
              required
            />
          </v-col>
          <v-col v-if="shipment == 2" class="pa-2" cols="12" md="3">
            <!-- title="ขนาดตู้ กxยxส (เมตร)" -->
            <base-select
              v-model="container"
              title="Container Size"
              :items="getContainers"
              required
            />
          </v-col>
          <v-col v-if="shipment == 2" class="pa-2" cols="12" md="3">
            <!-- title="จำนวน (ตู้)" -->
            <base-text-field
              v-model="containerNo"
              type="number"
              title="Container Quantity"
              required
            />
          </v-col>
        </v-row>
        <v-row v-if="transport != '' && transportType != ''">
          <v-col v-if="shipment != 2" class="pa-2" cols="12" md="3">
            <base-text-field
              v-model.number="weight"
              type="number"
              :title="`Volumn (${weightUnit})`"
              required
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <!-- title="จำนวนรายการ" -->
            <base-text-field
              v-model.number="quantity"
              type="number"
              title="Item"
              required
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-right pb-0" cols="12">
            <v-btn
              large
              color="primary"
              elevation="0"
              :disabled="!formValid"
              @click="onSearch"
            >
              <v-icon>search</v-icon> Search
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-right error--text">
            *กรณีที่ไม่มีประเทศ หรือ จุดหมายที่ต้องการ สามารถ Request location
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col class="" cols="6">
          <div class="custom-title">AGENT</div>
        </v-col>
        <v-col class="text-right py-0" cols="6">
          <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
              <v-btn
                class="mx-1"
                color="grey darken-3"
                depressed
                outlined
                v-on="on"
              >
                <v-icon size="20">mdi-map-marker</v-icon> Request Location
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="py-2" style="font-size:24px"
                  >Request new freight</span
                >
              </v-card-title>
              <v-divider />
              <v-card-text class="pb-0">
                <v-container>
                  <dialog-select
                    v-model="requestLocationBody.transportId"
                    title="Import/Export"
                    :items="getTransport"
                  />
                  <dialog-select
                    v-model="requestLocationBody.transportTypeId"
                    title="Sea/Airplane"
                    :items="getTransportTypeWithDefault"
                  />
                  <div class="mt-6">
                    <dialog-text-field
                      v-model="requestLocationBody.fromCountry"
                      title="From Country"
                    />
                    <dialog-text-field
                      v-model="requestLocationBody.fromLocation"
                      title="From Location"
                    />
                    <dialog-text-field
                      v-model="requestLocationBody.fromCity"
                      title="From City"
                    />
                  </div>
                  <div class="mt-6">
                    <dialog-text-field
                      v-model="requestLocationBody.toCountry"
                      title="To Country"
                    />
                    <dialog-text-field
                      v-model="requestLocationBody.toLocation"
                      title="To Location"
                    />
                    <dialog-text-field
                      v-model="requestLocationBody.toCity"
                      title="To City"
                    />
                  </div>
                  <div class="mt-6">
                    <dialog-text-field
                      v-model="requestLocationBody.qty"
                      title="Qty"
                      type="number"
                    />
                    <dialog-text-field
                      v-model="requestLocationBody.memo"
                      title="Memo"
                    />
                  </div>
                </v-container>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn
                  outlined
                  large
                  color="grey darken-2"
                  @click="onCloseDialog"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  depressed
                  large
                  dark
                  @click="onRequestLoaction"
                >
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            :disabled="selected == 0"
            @click="onPrint"
          >
            <v-icon size="20">mdi-printer</v-icon> Print
          </v-btn>
        </v-col>
      </v-row>
      <table-result v-model="selected" />

      <div class="pa-1 grey--text">
        * Agent/Weight สีเขียว จะเป็นค่าแนะนำจากระบบในการคำนวณ
        ราคาต่อหน่วยจะน้อยกว่า
      </div>
    </v-card>

    <div id="printMe">
      <div v-for="(item, index) in dataForPrint" :key="index">
        <div class="d-none d-print-block">
          <div style="page-break-after: always">
            <v-card style="margin-bottom:8px" outlined>
              <v-container>
                <div style="font-size:20px;font-weight:bold">
                  {{ item.header.agentName }} - Invoice
                  {{ item.header.invoice }}
                </div>
                <div>
                  คำนวนค่านำเข้า-ส่งออก / {{ item.header.agentName }} - Invoice
                  {{ item.header.invoice }}
                </div>
              </v-container>
            </v-card>

            <v-card style="margin-bottom:8px" outlined>
              <v-container>
                <div
                  style="font-size:18px; font-weight:bold; margin-bottom:8px"
                >
                  ข้อมูลที่เลือก
                </div>
                <div style="margin-bottom:8px">
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="นำเข้า - ส่งออก"
                      :text="item.search.transport"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="เรือ - เครื่องบิน"
                      :text="item.search.transportType"
                    />
                  </div>
                </div>
                <div style="margin-bottom:8px">
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="ประเทศต้นทาง"
                      :text="item.search.fromCountry"
                      align="center"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      :title="`${portForPrint}ต้นทาง`"
                      :text="item.search.fromCountryLocation"
                      align="center"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <img
                      v-if="item.search.transportType == 'AIR'"
                      :src="require('@/assets/black-plane.svg')"
                    />
                    <img v-else :src="require('@/assets/sea-ship.svg')" />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="ประเทศปลายทาง"
                      :text="item.search.toCountry"
                      align="center"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      :title="`${portForPrint}ปลายทาง`"
                      :text="item.search.toCountryLocation"
                      align="center"
                    />
                  </div>
                </div>
                <div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="ช่วงวันที่"
                      :text="`${item.search.fromDate} - ${item.search.toDate}`"
                    />
                  </div>
                  <div
                    style="display:inline-block; margin-right:24px"
                    v-if="item.search.transportType == 'SEA'"
                  >
                    <base-display
                      title="ประเภท Container load"
                      :text="item.header.shipment"
                    />
                  </div>
                  <div
                    style="display:inline-block; margin-right:24px"
                    v-if="
                      item.search.transportType == 'SEA' &&
                        item.header.shipment == 'FCL'
                    "
                  >
                    <base-display
                      title="ขนาดตู้ กxยxส (เมตร)"
                      :text="item.header.container"
                    />
                  </div>
                  <div
                    style="display:inline-block; margin-right:24px"
                    v-if="
                      item.search.transportType == 'SEA' &&
                        item.header.shipment == 'FCL'
                    "
                  >
                    <base-display
                      title="จำนวน (ตู้)"
                      :text="item.header.containerNo"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      :title="`Volumn (${weightUnitForPrint})`"
                      :text="item.search.weight"
                    />
                  </div>
                  <div style="display:inline-block; margin-right:24px">
                    <base-display
                      title="จำนวนรายการ"
                      :text="item.search.productTypeQty"
                    />
                  </div>
                </div>
              </v-container>
            </v-card>

            <v-card style="margin-bottom:8px" outlined>
              <v-container>
                <div
                  style="font-size:18px; font-weight:bold; margin-bottom:8px"
                >
                  รายละเอียด
                </div>

                <div style="margin-bottom:8px">
                  <base-display
                    title="ชื่อ Agent"
                    :text="item.header.agentName"
                  />
                </div>

                <div style="margin-bottom:8px">
                  <div
                    style="display:inline-block; margin-right:24px; min-width:40%"
                  >
                    <base-display
                      title="ประเทศต้นทาง"
                      :text="item.header.fromCountry"
                    />
                  </div>
                  <div
                    style="display:inline-block; margin-right:24px; min-width:40%"
                  >
                    <base-display
                      :title="`${portForPrint}ต้นทาง`"
                      :text="item.header.fromLocation"
                    />
                  </div>
                </div>

                <div style="margin-bottom:8px">
                  <div
                    style="display:inline-block; margin-right:24px; min-width:40%"
                  >
                    <base-display
                      title="ประเทศปลายทาง"
                      :text="item.header.toCountry"
                    />
                  </div>
                  <div
                    style="display:inline-block; margin-right:24px; min-width:40%"
                  >
                    <base-display
                      :title="`${portForPrint}ปลายทาง`"
                      :text="item.header.toLocation"
                    />
                  </div>
                </div>

                <div v-if="item.search.transportType == 'AIR'">
                  <div style="margin-bottom:8px">
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="ช่วงวันที่"
                        :text="date(item.header.startDate, item.header.endDate)"
                      />
                    </div>
                  </div>
                  <div style="margin-bottom:8px">
                    <div
                      style="display:inline-block; margin-right:24px; min-width:25%"
                    >
                      <base-display
                        title="เวลาต้นทาง"
                        :text="item.header.etd"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:25%"
                    >
                      <base-display
                        title="เวลาปลายทาง"
                        :text="item.header.eta"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:25%"
                    >
                      <base-display title="Day" :text="days(item.header)" />
                    </div>
                  </div>
                  <div style="margin-bottom:8px">
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="Direct / Transitship"
                        :text="item.header.tranship"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="Carrier"
                        :text="item.header.carrer"
                      />
                    </div>
                  </div>
                </div>
                <div v-else>
                  <div style="margin-bottom:8px">
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="Cut off"
                        :text="item.header.cutoff || '-'"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="ETD"
                        :text="item.header.etd || '-'"
                      />
                    </div>
                  </div>
                  <div style="margin-bottom:8px">
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="Direct / Transitship"
                        :text="item.header.tranship || '-'"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="ประเภท Container load"
                        :text="item.header.shipment || '-'"
                      />
                    </div>
                  </div>

                  <div
                    v-if="item.header.shipment == 'FCL'"
                    style="margin-bottom:8px"
                  >
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="ขนาดตู้ กxสxย (เมตร)"
                        :text="item.header.container || '-'"
                      />
                    </div>
                    <div
                      style="display:inline-block; margin-right:24px; min-width:40%"
                    >
                      <base-display
                        title="จำนวน (ตู้)"
                        :text="item.header.containerNo || '-'"
                      />
                    </div>
                  </div>
                </div>
              </v-container>
            </v-card>

            <v-card style="margin-bottom:8px" outlined>
              <v-container>
                <div
                  style="font-size:18px; font-weight:bold; margin-bottom:8px 0"
                >
                  รายละเอียดค่าใช้จ่าย
                </div>
                <table>
                  <tr style="background-color:#777">
                    <th style="width:10%; text-align:left; padding:8px">#</th>
                    <th style="width:60%; text-align:left; padding:8px">
                      รายการ
                    </th>
                    <th style="width:25%; text-align:left; padding:8px">
                      ราคา (รวม VAT 7%)
                    </th>
                  </tr>
                  <tr v-for="(item, index) in item.detail" :key="index">
                    <td style="text-align:left; padding:8px">
                      {{ index + 1 }}
                    </td>
                    <td style="text-align:left; padding:8px">
                      {{ item.description }}
                    </td>
                    <td style="text-align:left; padding:8px">
                      <div style="font-weight:bold">
                        {{
                          numberWithCommas(item.amount) + ' ' + item.currency
                        }}
                      </div>
                      <div style="font-size:14px; font-weight:bold">
                        {{
                          numberWithCommas(item.otherAmount) +
                            ' ' +
                            item.otherCurrency
                        }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="text-align:left; padding:8px">
                      <div style="font-weight:bold">
                        ค่าขนส่งรวม
                      </div>
                    </td>
                    <td style="text-align:left; padding:8px">
                      <div style="font-size:20px; font-weight:bold">
                        {{
                          numberWithCommas(item.header.amount) +
                            ' ' +
                            item.header.currency
                        }}
                      </div>
                      <div style="font-size:17px; font-weight:bold">
                        {{
                          numberWithCommas(item.header.otherAmount) +
                            ' ' +
                            item.header.otherCurrency
                        }}
                      </div>
                    </td>
                  </tr>
                </table>
              </v-container>
            </v-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  mounted() {
    this.$store.dispatch('getDepartment')

    var store = this.$store
    if (store.state.transport.length == 0) store.dispatch('getTransport')
    if (store.state.transportType.length == 0)
      store.dispatch('getTransportType')
    if (store.state.shipment.length == 0) store.dispatch('getShipment')
    if (store.state.container.length == 0) store.dispatch('getContainers')

    if (this.$route.params.type == 'air') {
      this.portForPrint = 'สนามบิน'
      this.weightUnitForPrint = 'น้ำหนัก'
    } else {
      this.portForPrint = 'ท่าเรือ'
      this.weightUnitForPrint = 'CBM'
    }
  },

  data() {
    return {
      dialog: false,
      selected: [],
      transport: 1,
      transportType: 0,
      shipment: 0,
      container: 0,
      containerNo: 0,
      fromCountry: 0,
      fromCountryLocation: 0,
      toCountry: 0,
      toCountryLocation: 0,
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      weight: 0,
      quantity: 0,
      departmentId: 1,
      requestLocationBody: {
        transportId: 1,
        transportTypeId: 1,
        fromCountry: '',
        fromLocation: '',
        fromCity: '',
        toCountry: '',
        toLocation: '',
        toCity: '',
        qty: '',
        memo: ''
      },
      portForPrint: '',
      weightUnitForPrint: ''
    }
  },

  computed: {
    formValid() {
      let validate = true
      if (this.transport < 1) validate = false
      if (this.transportType < 1) validate = false
      if (this.fromCountry < 1) validate = false
      if (this.fromCountryLocation < 1) validate = false
      if (this.toCountry < 1) validate = false
      if (this.toCountryLocation < 1) validate = false
      if (this.quantity < 1) validate = false

      if (this.transportType == 2) {
        if (this.shipment < 1) validate = false
        if (this.shipment == 2) {
          if (this.container < 1) validate = false
          if (this.containerNo < 1) validate = false
        } else {
          if (this.weight < 1) validate = false
        }
      }

      return validate
    },

    port() {
      let p = 'Dock'
      if (this.transportType == 1) p = 'Airport'
      return p
    },

    weightUnit() {
      let u = 'CBM'
      if (this.transportType == 1) u = 'Weight'
      return u
    },

    getTransport() {
      return this.$store.state.transport.map(t => {
        return { text: t.transportDesc, value: t.transportId }
      })
    },

    getTransportType() {
      return this.$store.state.transportType
        .filter(item => {
          return item.transportTypeId > 0
        })
        .map(tt => {
          return { text: tt.transportTypeDesc, value: tt.transportTypeId }
        })
    },

    getTransportTypeWithDefault() {
      return this.$store.state.transportType
        .filter(item => {
          return item.transportTypeId > 0
        })
        .map(tt => {
          return { text: tt.transportTypeDesc, value: tt.transportTypeId }
        })
    },

    getShipment() {
      return this.$store.state.shipment.map(s => {
        return { text: s.shipmentDesc, value: s.shipmentId }
      })
    },

    getContainers() {
      return this.$store.state.container.map(c => {
        return { text: c.containerDesc, value: c.containerId }
      })
    },

    getFromCountry() {
      return this.$store.state.fromCountry.map(fc => {
        return { text: fc.countryDesc, value: fc.countryId }
      })
    },

    getFromCountryLocation() {
      return this.$store.state.fromCountryLocation.map(fcl => {
        return {
          text: fcl.locationCity + ' - ' + fcl.locationName,
          value: fcl.countryLocationId
        }
      })
    },

    getToCountry() {
      return this.$store.state.toCountry.map(tc => {
        return { text: tc.countryDesc, value: tc.countryId }
      })
    },

    getToCountryLocation() {
      return this.$store.state.toCountryLocation.map(tcl => {
        return {
          text: tcl.locationCity + ' - ' + tcl.locationName,
          value: tcl.countryLocationId
        }
      })
    },

    departmentList() {
      return this.$store.state.departments.map(item => {
        return {
          text: item.departmentName,
          value: item.id
        }
      })
    },

    dataSearch() {
      return this.$store.state.dataSearch
    },

    dataForPrint() {
      return this.$store.state.dataForPrint
    }
  },

  watch: {
    transport() {
      this.apiCountry()
    },

    transportType() {
      this.apiCountry()
    },

    fromCountry() {
      this.apiCountryLocation('From')
    },

    toCountry() {
      this.apiCountryLocation('To')
    },

    getFromCountry(newData) {
      let thai = newData.find(item => {
        return item.text == 'THAILAND'
      })
      if (thai) this.fromCountry = thai.value
    },

    getFromCountryLocation(newData) {
      if (newData.length > 0) {
        this.fromCountryLocation = newData[0].value
      }
    },

    getToCountryLocation(newData) {
      if (newData.length > 0) {
        this.toCountryLocation = newData[0].value
      }
    }
  },

  methods: {
    apiCountry() {
      this.shipment = 0
      this.container = 0
      this.containerNo = 0
      this.fromCountry = 0
      this.fromCountryLocation = 0
      this.toCountry = 0
      this.toCountryLocation = 0
      this.startDate = new Date().toISOString().substr(0, 10)
      this.endDate = new Date().toISOString().substr(0, 10)
      this.weight = 0
      this.quantity = 0
      if (this.transport > 0 && this.transportType > 0) {
        this.$store.dispatch('getCountry', {
          transportId: this.transport,
          transportTypeId: this.transportType
        })
      }
    },

    apiCountryLocation(type) {
      let countryId = 0
      if (type == 'From') countryId = this.fromCountry
      else countryId = this.toCountry
      if (countryId > 0 && this.transportType > 0) {
        this.$store.dispatch('getCountryLocation', {
          country: countryId,
          transportTypeId: this.transportType,
          type: type
        })
      }
    },

    onPrint() {
      let data = this.selected.map(resultHeaderId => {
        return { ...this.dataSearch, resultHeaderId: resultHeaderId }
      })
      this.$store.dispatch('getPrintingData', data).then(() => {
        this.$htmlToPaper('printMe')
      })
    },

    onSearch() {
      const body = {
        TransportId: this.transport,
        TransportTypeId: this.transportType,
        FromCountryId: this.fromCountry,
        FromCountryLocationId: this.fromCountryLocation,
        ToCountryId: this.toCountry,
        ToCountryLocationId: this.toCountryLocation,
        FromDate: this.startDate,
        ToDate: this.endDate,
        ProductTypeQty: this.quantity || 0,
        ShipmentId: this.shipment,
        ContainerId: this.container,
        ContainerCount: this.containerNo,
        Cubic: this.weight || 0,
        Weight: this.weight || 0,
        DepartmentId: this.departmentId || 0
      }
      this.$store.dispatch('postCalculate', body).then(() => {
        const dataSet = this.$store.state.dataResult
        if (typeof dataSet == 'string') {
          alert(dataSet)
        } else {
          let transportType
          let items
          if (this.transportType == 1) {
            transportType = 'air'
            items = dataSet.map(data => {
              let date = {
                dateText: `${moment(data.startDate).format(
                  'DD MMM YY'
                )} - ${moment(data.endDate).format('DD MMM YY')}`
              }
              let days = []
              if (data.daily) {
                days.push({ text: 'Daily', class: 'green' })
              } else {
                if (data.sun) days.push({ text: 'S', class: 'red' })
                if (data.mon) days.push({ text: 'M', class: 'yellow darken-1' })
                if (data.tue) days.push({ text: 'T', class: 'pink' })
                if (data.wed) days.push({ text: 'W', class: 'green' })
                if (data.thu) days.push({ text: 'Th', class: 'orange' })
                if (data.fri) days.push({ text: 'F', class: 'light-blue' })
                if (data.sat) days.push({ text: 'Sa', class: 'deep-purple' })
              }
              date.days = days
              return {
                ...data,
                agent: data.agentName,
                date: date,
                from: `${data.fromLocation} (${data.fromCountry}) - ${data.etd}`,
                to: `${data.toLocation} (${data.toCountry}) - ${data.eta}`,
                amount: `${this.numberWithCommas(data.amount)}`,
                otherAmount: `${this.numberWithCommas(data.otherAmount)}`,
                unitPrice: `${this.numberWithCommas(data.unitPrice)}`,
                otherUnitPrice: `${this.numberWithCommas(data.otherUnitPrice)}`,

                page: 'calculateDetail',
                transportType: transportType
              }
            })
            this.$store.commit('UPDATE_TABLE_RESULT_HEADERS', {
              type: transportType
            })
            this.$store.commit('UPDATE_TABLE_RESULT_ITEMS', items)
          } else {
            transportType = 'sea'
            items = dataSet.map(data => {
              return {
                ...data,
                agent: data.agentName,
                from: data.fromLocation,
                type: data.shipment,
                to: data.toLocation,
                amount: `${this.numberWithCommas(data.amount)}`,
                otherAmount: `${this.numberWithCommas(data.otherAmount)}`,
                unitPrice: `${this.numberWithCommas(data.unitPrice)}`,
                otherUnitPrice: `${this.numberWithCommas(data.otherUnitPrice)}`,
                page: 'calculateDetail',
                transportType: transportType
              }
            })
          }
          this.$store.commit('UPDATE_TABLE_RESULT_HEADERS', {
            type: transportType
          })
          this.$store.commit('UPDATE_TABLE_RESULT_ITEMS', items)
        }
      })
    },

    onRequestLoaction() {
      let body = {
        ...this.requestLocationBody,
        transportDesc: this.getTransport.find(item => {
          return item.value == this.requestLocationBody.transportId
        }).text,
        transportTypeDesc: this.getTransportType.find(item => {
          return item.value == this.requestLocationBody.transportTypeId
        }).text
      }
      this.$store.dispatch('postRequest', body).then(() => {
        this.dialog = false
      })
    },

    onCloseDialog() {
      this.requestLocationBody = {
        transportId: 1,
        transportTypeId: 1,
        fromCountry: '',
        fromLocation: '',
        fromCity: '',
        toCountry: '',
        toLocation: '',
        toCity: '',
        qty: '',
        memo: ''
      }
      this.dialog = false
    },

    print() {
      // Pass the element id here
      this.$htmlToPaper('printMe')
    },

    days(data) {
      let days = []
      if (data.daily) {
        days.push('Daily')
      } else {
        if (data.sun) days.push('S')
        if (data.mon) days.push('M')
        if (data.tue) days.push('T')
        if (data.wed) days.push('W')
        if (data.thu) days.push('Th')
        if (data.fri) days.push('F')
        if (data.sat) days.push('Sa')
      }
      return days.join()
    },

    date(start, end) {
      return (
        moment(start).format('DD MMM YY') +
        ' - ' +
        moment(end).format('DD MMM YY')
      )
    },

    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
