<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Import - Export Calculate</div>
          <div class="font-weight-bold">
            Import - Export Calculate / {{ agentName }}
          </div>
        </v-col>
        <v-col class="text-right">
          <v-btn to="/calculator" outlined color="grey darken-3">
            <v-icon>reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <detail-search :page="page" redirect="/history" />
    <v-row class="mx-5">
      <v-col
        cols="12"
        lg="6"
        class="pa-0"
        :class="{ 'pr-2': $vuetify.breakpoint.lgAndUp }"
      >
        <detail-header :page="page" />
      </v-col>
      <v-col
        cols="12"
        lg="6"
        class="pa-0"
        :class="{ 'pl-2': $vuetify.breakpoint.lgAndUp }"
      >
        <detail-detail :page="page" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('getResultHeader', this.$route.params.id)
    this.$store.dispatch('getResultDetail', this.$route.params.id)
  },
  data() {
    return {
      page: 'calc'
    }
  },
  computed: {
    agentName() {
      if (this.$store.state.dataResultHeader.agentName) {
        return this.$store.state.dataResultHeader.agentName
      } else {
        return ''
      }
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
