<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">CBM</div>
          <router-link to="/cbm" class="custom-router-link">
            CBM
          </router-link>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="cbmList"
        :search="search"
        sort-by="id"
      >
        <template v-slot:item.manage="{ item }">
          <v-btn text class="info--text" @click="onEdit(item.id)">
            <v-icon color="info">mdi-circle-edit-outline</v-icon> Edit
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">
            Edit {{ body.transport }}
          </span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <dialog-text-field v-model="editCBM" title="CBM" type="number" />
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-2" @click="onClose">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" depressed large dark @click="onSave">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      editCBM: 0,
      body: {},
      search: '',
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Import/Export', value: 'transport' },
        { text: 'CBM', value: 'cbm' },
        { text: 'Management', value: 'manage' }
      ]
    }
  },
  computed: {
    cbmList() {
      return this.$store.state.cbms.map(item => {
        item.cbm = '1 คิวบิก = ' + item.cbmRate + ' ก.ก.'
        return item
      })
    }
  },
  mounted() {
    this.$store.dispatch('getCbm')
  },
  methods: {
    onClose() {
      this.dialog = false
    },
    onEdit(id) {
      let obj = this.cbmList.find(item => {
        return item.id == id
      })
      this.editCBM = obj.cbmRate
      this.body = {
        id: obj.id,
        transportId: obj.transporId,
        transport: obj.transport
      }
      this.dialog = true
    },
    onSave() {
      this.body.cbmRate = parseInt(this.editCBM)
      this.$store.dispatch('putCbm', this.body).then(() => {
        this.$store.dispatch('getCbm')
        this.dialog = false
      })
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
