<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Add New Expense</div>
          <router-link to="/expense" class="custom-router-link">
            Expense Management
          </router-link>
          /
          <router-link to="/expense" class="custom-router-link">
            Add New Expense
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/expense">
            <v-icon size="20">mdi-reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-stepper
      v-model="stepper"
      :alt-labels="true"
      class="ma-5"
      style="box-shadow:none; -webkit-box-shadow:none;; -moz-box-shadow:none;"
    >
      <v-stepper-header
        style="box-shadow:none; -webkit-box-shadow:none;; -moz-box-shadow:none;"
      >
        <v-stepper-step :complete="stepper > 1" step="1">
          <div class="text-center">
            {{ title1 }}
          </div>
        </v-stepper-step>

        <v-divider />

        <v-stepper-step :complete="stepper > 2" step="2">
          <div class="text-center">
            {{ title2 }}
          </div>
        </v-stepper-step>

        <v-divider />

        <v-stepper-step step="3">
          <div class="text-center">
            {{ title3 }}
          </div>
        </v-stepper-step>
      </v-stepper-header>
    </v-stepper>
    <v-stepper
      v-model="stepper"
      :alt-labels="true"
      class="ma-5"
      style="box-shadow:none; -webkit-box-shadow:none;; -moz-box-shadow:none;"
    >
      <v-stepper-items>
        <v-stepper-content step="1">
          <expense-name :title="title1" @onNext="onNext" />
        </v-stepper-content>

        <v-stepper-content step="2">
          <expense-detail
            :title="title2"
            @onNext="onNext"
            @onPrev="stepper = stepper - 1"
          />
        </v-stepper-content>

        <v-stepper-content step="3">
          <expense-agent
            :title="title3"
            @onNext="onNext"
            @onPrev="stepper = stepper - 1"
          />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title1: 'Create expense name',
      title2: 'Manage expense',
      title3: 'Assign agents',
      stepper: 1
    }
  },
  methods: {
    onNext(step) {
      if (step < 3) {
        this.stepper = parseInt(step) + 1
      } else {
        this.$router.push('/expense')
      }
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
