<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Expense Management</div>
          <router-link to="/expense" class="custom-router-link">
            Expense Management
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/expenseAdd">
            <v-icon size="20">mdi-plus</v-icon>
            Add Expense
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="expenseList"
        :search="search"
        sort-by="id"
      >
        <template v-slot:item.status="{ item }">
          <v-chip
            v-if="item.status"
            class="font-weight-bold"
            color="green"
            small
            label
            dark
          >
            Active
          </v-chip>
          <v-chip v-else class="font-weight-bold" color="red" small label dark>
            In-Active
          </v-chip>
        </template>
        <template v-slot:item.manage="{ item }">
          <v-btn text class="info--text" :to="`/expenseView/${item.id}`">
            <v-icon color="info">search</v-icon> Detail
          </v-btn>
          <!-- <v-btn text class="info--text">
            <v-icon color="info">mdi-content-copy</v-icon> Copy
          </v-btn> -->
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Expense Name', value: 'expense' },
        { text: 'Status', value: 'status' },
        { text: 'Import/Export', value: 'transport' },
        { text: 'Sea/Airplane', value: 'transportType' },
        { text: 'Management', value: 'manage' }
      ]
    }
  },
  computed: {
    expenseList() {
      return this.$store.state.expenseName
    }
  },
  mounted() {
    this.$store.dispatch('getExpenseName')
  },
  methods: {}
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
