<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Expense Detail</div>
          <router-link to="/expense" class="custom-router-link">
            Expense Management
          </router-link>
          /
          <router-link to="/expense" class="custom-router-link">
            Expense Detail
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/expense">
            <v-icon size="20">mdi-reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-row>
      <v-col cols="12" md="6">
        <v-card class="ma-5 pa-5" outlined>
          <v-row>
            <v-col>
              <div class="custom-title">Detail</div>
            </v-col>
            <v-col class="text-right">
              <v-btn
                outlined
                small
                color="grey darken-3"
                @click="nameDialog = true"
              >
                <v-icon small>mdi-circle-edit-outline</v-icon>
                Edit
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <base-display title="Expense Name" :text="expenseList.expense" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <base-display
                title="Import / Export"
                :text="expenseList.transport"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <base-display
                title="Sea / Airplane"
                :text="expenseList.transportType"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <base-display title="Memo" :text="expenseList.memo" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <base-display
                title="Status"
                :text="expenseList.status ? 'Active' : 'In-Active'"
              />
            </v-col>
          </v-row>
        </v-card>

        <v-card class="ma-5 pa-5" outlined>
          <v-row>
            <v-col>
              <div class="custom-title">Assign Freight</div>
            </v-col>
            <v-col class="text-right">
              <v-btn outlined small color="grey darken-3" @click="onOpenAgent">
                <v-icon small>mdi-circle-edit-outline</v-icon>
                Edit
              </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            :headers="assignHeader"
            :items="expenseList.expenseAgents"
            hide-default-footer
          >
            <template v-slot:item="props">
              <tr>
                <td>{{ props.index + 1 }}</td>
                <td>{{ props.item.agentName }}</td>
              </tr>
            </template>
          </v-data-table>
        </v-card>

        <v-card class="ma-5 pa-5" outlined>
          <v-row>
            <v-col>
              <div class="custom-title">Date</div>
            </v-col>
            <v-col cols="auto" class="text-right">
              <v-btn outlined small color="grey darken-3" @click="onDownload">
                <v-icon size="20">mdi-download</v-icon> Download
              </v-btn>
            </v-col>
            <v-col cols="auto" class="text-right">
              <v-btn
                outlined
                small
                color="grey darken-3"
                @click="uploadDialog = true"
              >
                <v-icon size="20">mdi-upload</v-icon> Upload
              </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            :headers="dateHeader"
            :items="expenseList.expenseDates"
            hide-default-footer
          >
            <template v-slot:item="props">
              <tr>
                <td>{{ props.index + 1 }}</td>
                <td>{{ formattedDate(props.item.expensedate) }}</td>
                <td>-</td>
                <td>
                  <!-- if userType not AGENT && status is WAIT FOR APPROVE -->
                  <div
                    v-if="
                      isAgentUser &&
                        props.item.expenseStatus == 'Wait for Approve'
                    "
                  >
                    <v-btn color="green lighten-2" outlined>Approve</v-btn>
                  </div>
                  <div v-else>{{ props.item.expenseStatus }}</div>
                </td>
              </tr>
            </template>
          </v-data-table>
          <v-row class="pt-4">
            <v-col>
              <div class="custom-title">Date Detail</div>
            </v-col>
          </v-row>
          <v-data-table
            :headers="dateDetailHeader"
            :items="expenseDateDetail"
            hide-default-footer
          >
            <template v-slot:item="props">
              <tr>
                <td>{{ props.index + 1 }}</td>
                <td>{{ props.item.expenseCode || '-' }}</td>
                <td>{{ props.item.expenseDescription || '-' }}</td>
                <td>{{ props.item.shipment || '-' }}</td>
                <td>{{ props.item.country || '-' }}</td>
                <td>{{ props.item.containerSize || '-' }}</td>
                <td>{{ props.item.fixed_Rate || 0 }}</td>
                <td>{{ props.item.flat_Rate || 0 }}</td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>

      <v-col cols="12" md="6">
        <v-card
          class="pa-5"
          :class="{
            'my-5 mr-5': $vuetify.breakpoint.mdAndUp,
            'ma-5': $vuetify.breakpoint.smAndDown
          }"
          outlined
        >
          <v-row>
            <v-col>
              <div class="custom-title">Expense Detail</div>
            </v-col>
            <v-col class="text-right">
              <v-btn
                outlined
                small
                color="grey darken-3"
                @click="detailDialog = true"
              >
                <v-icon small>mdi-circle-edit-outline</v-icon>
                Edit
              </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            :headers="detailHeader"
            :items="expenseList.expenseNameFunctions"
            hide-default-footer
            :items-per-page="-1"
          >
            <template v-slot:item="props">
              <tr>
                <td width="60">{{ props.index + 1 }}</td>
                <td width="80">{{ props.item.expenseCode }}</td>
                <td>{{ props.item.expenseDescription }}</td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <!-- DIALOG -->
    <v-dialog v-model="nameDialog" scrollable persistent max-width="600">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Edit expense name</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-form v-model="formValid">
              <v-row>
                <v-col class="pa-2">
                  <base-text-field
                    v-model="formData.expense"
                    title="Expense name"
                    :required="true"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col class="pa-2">
                  <base-select
                    v-model="formData.transportId"
                    title="Import/Export"
                    :items="transportList"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col class="pa-2">
                  <base-select
                    v-model="formData.transportTypeId"
                    title="Sea/Airplane"
                    :items="transportTypeList"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col class="pa-2">
                  <base-text-field v-model="formData.memo" title="Memo" />
                </v-col>
              </v-row>
              <v-row>
                <v-col class="pa-2">
                  <base-select
                    v-model="formData.status"
                    title="Status"
                    :items="statusList"
                  />
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            outlined
            large
            color="grey darken-3"
            @click="nameDialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            depressed
            large
            :dark="formValid"
            :disabled="!formValid"
            @click="onSaveName"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="detailDialog" scrollable persistent>
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Edit manage expense</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-data-table
              :headers="expenseDetailHeader"
              :items="expenseDetailList"
              :items-per-page="-1"
              hide-default-footer
            >
              <template v-slot:item="props">
                <tr>
                  <td class="text-start" style="width:60px">
                    {{ props.index + 1 }}
                  </td>
                  <td class="text-start">
                    {{ props.item.expenseCode }}
                  </td>
                  <td class="text-start">
                    {{ props.item.expenseDescription }}
                  </td>
                  <td style="width:100px">
                    <v-checkbox v-model="props.item.vat" />
                  </td>
                  <td style="width:100px">
                    <v-checkbox v-model="props.item.agentView" />
                  </td>
                  <td style="width:100px">
                    <v-checkbox v-model="props.item.use" />
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            outlined
            large
            color="grey darken-3"
            @click="detailDialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            depressed
            large
            dark
            @click="onSaveDetail"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="agentDialog" scrollable persistent>
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Edit assign agents</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col> </v-col>
              <v-col class="text-right py-0" cols="auto">
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  single-line
                  outlined
                  rounded
                  hide-details
                />
              </v-col>
            </v-row>
            <v-data-table
              v-model="selected"
              :headers="agentHeader"
              :items="agentList"
              :search="search"
              item-key="agentId"
              show-select
            >
              <template v-slot:item.status="{ item }">
                <v-chip
                  v-if="item.status"
                  class="font-weight-bold"
                  color="green"
                  small
                  label
                  dark
                >
                  Active
                </v-chip>
                <v-chip
                  v-else
                  class="font-weight-bold"
                  color="red"
                  small
                  label
                  dark
                >
                  In-Active
                </v-chip>
              </template>
            </v-data-table>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            outlined
            large
            color="grey darken-3"
            @click="agentDialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            depressed
            large
            dark
            @click="onSaveAgent"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="uploadDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Upload</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class="pt-3 pl-2" style="font-size:16px">
                      Agent
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    {{ expenseList.expense }}
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      From date
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-menu
                      v-model="uploadFromDateMenu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="uploadFromDate"
                          class="dense"
                          v-on="on"
                          prepend-inner-icon="event"
                          readonly
                          outlined
                          hide-details
                          single-line
                        />
                      </template>
                      <v-date-picker
                        v-model="uploadFromDate"
                        no-title
                        scrollable
                        @input="uploadFromDateMenu = false"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      Upload File (.xlsx only)
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-file-input
                      v-model="uploadFile"
                      class="dense"
                      outlined
                      single-line
                      hide-details
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="onCancel"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" depressed large dark @click="onUpload"
            >Upload</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      assignHeader: [
        { text: '#', value: 'number' },
        { text: 'Agent Name', value: 'agentName' }
      ],
      detailHeader: [
        { text: '#', value: 'number' },
        { text: 'Code', value: 'expenseCode' },
        { text: 'Description', value: 'expenseDescription' }
      ],
      dateHeader: [
        { text: '#', value: 'number' },
        { text: 'Date', value: 'expensedate' },
        { text: 'Detail', value: 'expensedatedetail' },
        { text: 'Status', value: 'expenseStatus' }
      ],
      dateDetailHeader: [
        { text: '#', value: 'number' },
        { text: 'Expense Code', value: 'expenseCode' },
        { text: 'Expense Description', value: 'expenseDescription' },
        { text: 'Shipment', value: 'shipment' },
        { text: 'Country', value: 'country' },
        { text: 'Container Size', value: 'containerSize' },
        { text: 'Fixed Rate', value: 'fixed_Rate' },
        { text: 'Flat Rate', value: 'flat_Rate' }
      ],
      nameDialog: false,
      formValid: false,
      formData: {
        expense: '',
        transportId: 1,
        transportTypeId: 1,
        status: true,
        memo: '',
        transport: 'Import',
        transportType: 'AIR'
      },
      statusList: [
        { text: 'Active', value: true },
        { text: 'In-Active', value: false }
      ],
      detailDialog: false,
      expenseDetailHeader: [
        { text: '#', sortable: false, value: 'number' },
        { text: 'Code', sortable: false, value: 'expenseCode' },
        { text: 'Description', sortable: false, value: 'expenseDescription' },
        { text: 'Vat', sortable: false, value: 'vat' },
        { text: 'Agent Use', sortable: false, value: 'agentView' },
        { text: 'Admin Use', sortable: false, value: 'use' }
      ],
      agentDialog: false,
      search: '',
      agentHeader: [
        { text: '', value: 'select' },
        { text: 'ID', value: 'agentId' },
        { text: 'ชื่อ Agent', value: 'agentName' },
        { text: 'สถานะ', value: 'status' }
      ],
      uploadDialog: false,
      uploadFromDate: new Date().toISOString().substr(0, 10),
      uploadFromDateMenu: false,
      uploadToDate: new Date().toISOString().substr(0, 10),
      uploadFile: null,
      selected: []
    }
  },
  computed: {
    expenseList() {
      if (this.$store.state.expenses.length > 0)
        return this.$store.state.expenses[0]
      else return []
    },
    expenseDateDetail() {
      return this.$store.state.expenseDateDetail
    },
    transportList() {
      return this.$store.state.transport
        .filter(item => {
          return item.transportId > 0
        })
        .map(item => {
          return { text: item.transportDesc, value: item.transportId }
        })
    },
    transportTypeList() {
      return this.$store.state.transportType
        .filter(item => {
          return item.transportTypeId > 0
        })
        .map(item => {
          return { text: item.transportTypeDesc, value: item.transportTypeId }
        })
    },
    expenseDetailList() {
      return this.$store.state.expenseDetail
    },
    agentList() {
      return this.$store.state.agents
    },
    isAgentUser() {
      return localStorage.getItem('userTypeId') == 3
    }
  },
  watch: {
    expenseList(value) {
      if (value) {
        this.formData = {
          expense: value.expense,
          transportId: value.transportId,
          transportTypeId: value.transportTypeId,
          status: value.status,
          memo: value.memo,
          transport: value.transport,
          transportType: value.transportType
        }
        this.$store.dispatch('getAgent', [
          this.expenseList.transportId,
          this.expenseList.transportTypeId
        ])
      }
    }
  },
  mounted() {
    this.$store.dispatch('getExpense', this.$route.params.id)
    this.$store.dispatch('getTransport')
    this.$store.dispatch('getTransportType')
    this.$store.dispatch('getExpenseDetail', this.$route.params.id)
    this.$store.dispatch('getExpenseDateDetail', this.$route.params.id)
  },
  methods: {
    formattedDate(date) {
      return moment(date).format('DD MMM YYYY, HH:mm')
    },
    onDownload() {
      const downloadedFileName =
        this.expenseList.transport + '-' + this.expenseList.expense
      this.$store.dispatch('getExpenseDownload', {
        filename: downloadedFileName,
        id: this.expenseList.id
      })
    },
    onSaveName() {
      let body = {
        id: parseInt(this.$route.params.id),
        expenseAgents: null,
        expenseNameFunctions: null,
        ...this.formData
      }
      body.transport = this.transportList.find(item => {
        return item.value == body.transportId
      }).text
      body.transportType = this.transportTypeList.find(item => {
        return item.value == body.transportTypeId
      }).text
      this.$store.dispatch('putExpenseName', body).then(() => {
        this.$store.dispatch('getExpense', this.$route.params.id)
        this.nameDialog = false
      })
    },
    onSaveDetail() {
      this.$store
        .dispatch('putExpenseDetail', this.expenseDetailList)
        .then(() => {
          this.detailDialog = false
        })
    },
    onOpenAgent() {
      this.selected = this.agentList.filter(item => {
        let r = this.expenseList.expenseAgents.find(i => {
          return i.agentId == item.agentId
        })
        return r ? true : false
      })
      this.agentDialog = true
    },
    onSaveAgent() {
      let body = this.agentList.map(item => {
        let h = this.selected.find(i => {
          return i.agentId == item.agentId
        })
        return {
          expenseNameId: parseInt(this.$route.params.id),
          agentId: item.agentId,
          agentName: item.agentName,
          agentDesctiption: item.agentDescription,
          agentSelect: !h ? false : true
        }
      })
      this.$store.dispatch('putExpenseAgent', body).then(() => {
        this.$store.dispatch('getExpense', this.$route.params.id)
        this.agentDialog = false
      })
    },
    onUpload() {
      let formData = new FormData()
      formData.append('AgentId', this.expenseList.id)
      formData.append('File', this.uploadFile)
      formData.append('FromDate', this.uploadFromDate)
      formData.append('ToDate', this.uploadToDate)
      this.$store.dispatch('postImportUpload', formData).then(() => {
        if (this.$store.state.importUploadError.length > 0) {
          alert(this.$store.state.importUploadError)
          this.$store.state.importUploadError = ''
        } else {
          this.$store.dispatch('getExpense', this.$route.params.id).then(() => {
            this.uploadDialog = false
          })
        }
      })
    },
    onCancel() {
      this.uploadDialog = false
      this.uploadFromDate = new Date().toISOString().substr(0, 10)
      this.uploadFromDateMenu = false
      this.uploadFile = null
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
