<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">
            {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
          <div class="font-weight-bold">
            History / {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
        </v-col>
        <v-col class="text-right">
          <v-btn to="/history" outlined color="grey darken-3">
            <v-icon>reply</v-icon>
            Back
          </v-btn>
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            @click="print"
          >
            <v-icon size="20">mdi-printer</v-icon>
            Print
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <div>
      <detail-search redirect="/history" />
      <v-row class="mx-5">
        <v-col
          cols="12"
          lg="6"
          class="pa-0"
          :class="{ 'pr-2': $vuetify.breakpoint.lgAndUp }"
        >
          <detail-header :page="page" />
        </v-col>
        <v-col
          cols="12"
          lg="6"
          class="pa-0"
          :class="{ 'pl-2': $vuetify.breakpoint.lgAndUp }"
        >
          <detail-detail />
        </v-col>
      </v-row>
    </div>

    <div id="printMe">
      <print-invoice
        page="history"
        :dataSearch="dataSearch"
        :dataResultHeader="dataResultHeader"
        :dataResultDetail="dataResultDetail"
      />
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('getResultHeader', this.$route.params.id)
    this.$store.dispatch('getResultDetail', this.$route.params.id)
  },
  data() {
    return {
      page: 'history'
    }
  },
  computed: {
    dataSearch() {
      return this.$store.state.dataSearch
    },
    dataResultHeader() {
      return this.$store.state.dataResultHeader
    },
    dataResultDetail() {
      return this.$store.state.dataResultDetail
    }
  },
  methods: {
    print() {
      // Pass the element id here
      this.$htmlToPaper('printMe')
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
