<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <div class="custom-title">History</div>
      <router-link to="/history" class="custom-router-link">
        History
      </router-link>
    </v-card>
    <v-card class="ma-5 pa-5" outlined>
      <div class="custom-title">Search</div>
      <v-container>
        <v-row>
          <!-- <base-date-picker
              v-model="endDate"
              title="To Date"
              :thruDate="startDate"
              required
            />

            <base-select
              v-model="container"
              title="Container Size"
              :items="getContainers"
              required
            />
>
            <base-text-field
              v-model="containerNo"
              type="number"
              title="Container Quantity"
              required
            /> -->
          <v-col class="pa-2" cols="12" md="3">
            <base-text-field v-model="search.MemberName" title="Member Name" />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="search.Agent"
              :items="historyDataSearch.agent"
              item-text="agentName"
              item-value="agentId"
              title="Agent"
            />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-text-field v-model="search.InvoiceNo" title="Invoice No." />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="search.TransportId"
              :items="historyDataSearch.transport"
              item-text="transportDesc"
              item-value="transportId"
              title="Transport"
            />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="search.TransportTypeId"
              :items="historyDataSearch.transportType"
              item-text="transportTypeDesc"
              item-value="transportTypeId"
              title="Transport Type"
            />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-date-picker v-model="search.StartDate" title="Start Date" />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-date-picker v-model="search.EndDate" title="End Date" />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="search.CountryId"
              :items="historyDataSearch.country"
              item-text="countryDesc"
              item-value="countryId"
              title="Country"
            />
          </v-col>

          <v-col class="pa-2" cols="12" md="3">
            <base-text-field
              v-model="search.CustomerName"
              title="Customer Name"
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col class="text-right pb-0" cols="12">
            <v-btn x-large color="primary" elevation="0" @click="onSearch">
              <v-icon>search</v-icon> Search
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col class="" cols="6">
          <div class="custom-title">AGENT</div>
        </v-col>
        <v-col class="text-right py-0" cols="6">
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            :disabled="historySelected == 0"
            @click="onPrintByAgent"
          >
            <v-icon size="20">mdi-printer</v-icon>
            Print
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table
        v-model="historySelected"
        :headers="headers"
        :items="historyList"
        :hide-default-header="historyList.length == 0"
        :hide-default-footer="historyList.length == 0"
        item-key="id"
        show-select
      >
        <template v-slot:header.data-table-select="{ on, props }">
          <span style="font-size:10px"></span>
        </template>
        <template v-slot:item.from="{ item }">
          <div class="green--text font-weight-bold" style="font-size:14px">
            {{ item.fromCountry }}
          </div>
          <div style="font-size:12px">
            {{ item.fromCity }} - {{ item.fromLocation }}
          </div>
        </template>
        <template v-slot:item.to="{ item }">
          <div class="green--text font-weight-bold" style="font-size:14px">
            {{ item.toCountry }}
          </div>
          <div style="font-size:12px">
            {{ item.toCity }} - {{ item.toLocation }}
          </div>
        </template>
        <template v-slot:item.manage="{ item }">
          <v-btn
            text
            class="info--text"
            @click="onSeeHistories(item.id, item.transportType)"
          >
            <v-icon color="info">search</v-icon> Detail
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <!-- DIALOGS -->
    <v-dialog v-model="dialog" persistent width="90%">
      <v-card class="pa-6">
        <table-result v-model="calcSelected" />
        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            :disabled="calcSelected.length == 0"
            @click="onPrintByItem"
          >
            <v-icon size="20">mdi-printer</v-icon>
            Print
          </v-btn>
          <v-btn outlined @click="onCloseSeeHistories">
            close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div id="printMe">
      <div v-for="(item, index) in dataForPrint" :key="index">
        <print-invoice
          page="history"
          :dataSearch="item.search"
          :dataResultHeader="item.header"
          :dataResultDetail="item.detail"
        />
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      dialog: false,
      search: {
        MemberName: '',
        Agent: 0,
        InvoiceNo: '',
        TransportId: 0,
        TransportTypeId: 0,
        StartDate: '',
        EndDate: '',
        CountryId: 0,
        CustomerName: ''
      },
      offset: 1,
      limit: 10,
      searchSelected: [],
      historySelected: [],
      calcSelected: [],
      transportType: '',
      items: [],
      headers: [
        { text: 'User', value: 'createUser' },
        { text: 'Create Date', value: 'createDateTime' },
        { text: 'Import/Export', value: 'transport' },
        { text: 'Sea/Airplane', value: 'transportType' },
        { text: 'Departure', value: 'from' },
        { text: 'Arrive', value: 'to' },
        { text: 'Start Date', value: 'fromDate' },
        { text: 'End Date', value: 'toDate' },
        { text: '', value: 'manage' }
      ],
      headersSea: [
        { text: 'User', value: 'agent' },
        { text: 'Departure Dock', value: 'from' },
        { text: 'Type', value: 'type' },
        { text: 'CUT OFF', value: 'cutoff' },
        { text: 'ETD', value: 'etd' },
        { text: 'Period', value: 'eta' },
        { text: 'Arrive Dock', value: 'to' },
        { text: 'DIRECT/TRANSITSHIP', value: 'tranship' },
        { text: 'Total Cost', value: 'amount' },
        { text: 'Management', value: 'manage', sortable: false }
      ],
      headersAir: [
        { text: 'User', value: 'agent' },
        { text: 'Day / Start - End Date', value: 'date' },
        { text: 'Departure Airport - time', value: 'from' },
        { text: 'Arrive Airport - time', value: 'to' },
        { text: 'Carrier', value: 'carrer' },
        { text: 'Direct / Transit', value: 'tranship' },
        { text: 'Total Cost', value: 'amount', align: 'right' },
        { text: 'Management', value: 'manage', sortable: false }
      ],
      resultHeaders: [],
      resultItems: []
    }
  },

  computed: {
    historyDataSearch() {
      return this.$store.state.historyDataSearch
    },

    historyList() {
      return this.$store.state.histories.map(item => {
        item.createDateTime = moment(item.createDateTime).format(
          'DD MMM YY - HH:mm'
        )
        item.fromDate = moment(item.fromDate).format('DD MMM YY')
        item.toDate = moment(item.toDate).format('DD MMM YY')
        return item
      })
    },

    dataForPrint() {
      return this.$store.state.dataForPrint
    }
  },

  mounted() {
    this.$store.dispatch('getHistoryDataSearch')
  },

  methods: {
    onSearch() {
      this.$store.dispatch('postSearchHistory', this.search)
    },

    onSeeHistories(id, transportType) {
      let resultItems
      this.$store
        .dispatch('getResultHeaderHistory', id)
        .then(() => {
          this.resultItems = []
          const dataSet = this.$store.state.resultHeaderHistory
          if (transportType.toLowerCase() == 'air') {
            resultItems = dataSet.map(data => {
              let date = {
                dateText: `${moment(data.startDate).format(
                  'DD MMM YY'
                )} - ${moment(data.endDate).format('DD MMM YY')}`
              }
              let days = []
              if (data.daily) {
                days.push({ text: 'Daily', class: 'green' })
              } else {
                if (data.sun) days.push({ text: 'S', class: 'red' })
                if (data.mon) days.push({ text: 'M', class: 'yellow darken-1' })
                if (data.tue) days.push({ text: 'T', class: 'pink' })
                if (data.wed) days.push({ text: 'W', class: 'green' })
                if (data.thu) days.push({ text: 'Th', class: 'orange' })
                if (data.fri) days.push({ text: 'F', class: 'light-blue' })
                if (data.sat) days.push({ text: 'Sa', class: 'deep-purple' })
              }
              date.days = days
              return {
                ...data,
                agent: data.agentName,
                date: date,
                from: `${data.fromLocation} (${data.fromCountry}) - ${data.etd}`,
                to: `${data.toLocation} (${data.toCountry}) - ${data.eta}`,
                amount: `${this.numberWithCommas(data.amount)}`,
                otherAmount: `${this.numberWithCommas(data.otherAmount)}`,
                unitPrice: `${this.numberWithCommas(data.unitPrice)}`,
                otherUnitPrice: `${this.numberWithCommas(data.otherUnitPrice)}`,
                page: 'historyDetail',
                transportType: 'air'
              }
            })
          } else {
            resultItems = dataSet.map(data => {
              return {
                ...data,
                agent: data.agentName,
                from: data.fromLocation,
                type: data.shipment,
                to: data.toLocation,
                amount: `${this.numberWithCommas(data.amount)}`,
                otherAmount: `${this.numberWithCommas(data.otherAmount)}`,
                unitPrice: `${this.numberWithCommas(data.unitPrice)}`,
                otherUnitPrice: `${this.numberWithCommas(data.otherUnitPrice)}`,
                page: 'historyDetail',
                transportType: 'sea'
              }
            })
          }
        })
        .then(() => {
          this.transportType = transportType.toLowerCase()
          let s = this.historyList.filter(item => {
            return item.id == id
          })[0]
          s.fromDate = s.fromDate.substr(0, 10)
          s.toDate = s.toDate.substr(0, 10)
          s.fromCountryLocation = s.fromCity + ' - ' + s.fromLocation
          s.toCountryLocation = s.toCity + ' - ' + s.toLocation
          this.searchSelected = this.historyList.filter(item => {
            return item.id == id
          })[0]
          this.$store.commit('UPDATE_CALC_SEARCH', this.searchSelected)
          this.$store.commit('UPDATE_TABLE_RESULT_HEADERS', {
            type: this.transportType
          })
          this.$store.commit('UPDATE_TABLE_RESULT_ITEMS', resultItems)
          this.dialog = true
        })
    },

    onCloseSeeHistories() {
      this.resultItems = []
      this.calcSelected = []
      this.dialog = false
    },

    onPrintByItem() {
      let data = this.calcSelected.map(resultHeaderId => {
        return { ...this.searchSelected, resultHeaderId: resultHeaderId }
      })
      this.$store.dispatch('getPrintingData', data).then(() => {
        this.$htmlToPaper('printMe')
      })
    },

    onPrintByAgent() {
      this.$store
        .dispatch('getResultHeaderIdByAgent', this.historySelected)
        .then(() => {
          this.$store
            .dispatch('getPrintingData', this.$store.state.idListByAgent)
            .then(() => {
              this.$htmlToPaper('printMe')
            })
        })
    },

    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
