<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Dashboard</div>
          <router-link to="/home" class="custom-router-link">
            Dashboard
          </router-link>
        </v-col>
      </v-row>
    </v-card>

    <v-row>
      <v-col>
        <div class="k-card">
          <v-card class="k-card-title" color="info">User Count</v-card>
          <v-card class="k-card-content">
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Yearly</td>
                    <td>{{ dashboardCalculate.yearly }}</td>
                  </tr>
                  <tr>
                    <td>Monthly</td>
                    <td>{{ dashboardCalculate.monthly }}</td>
                  </tr>
                  <tr>
                    <td>Daily</td>
                    <td>{{ dashboardCalculate.daily }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </div>

        <div class="k-card">
          <v-card class="k-card-title" color="info"
            >Request New Location</v-card
          >
          <v-card class="k-card-content">
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr
                    v-for="(item, index) in dashboardNewLocations"
                    :key="index"
                  >
                    <td>{{ item.newLocation }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </div>

        <div class="k-card">
          <v-card class="k-card-title" color="info">Change Price</v-card>
          <v-card class="k-card-content">
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-for="(item, index) in dashboardRatePrices" :key="index">
                    <td>{{ item.route }}</td>
                    <td>{{ item.rate }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div class="k-card">
          <v-card class="k-card-title" color="info">Top BU</v-card>
          <v-card class="k-card-content">
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-for="(item, index) in dashboardTopBus" :key="index">
                    <td>{{ item.buName }}</td>
                    <td>{{ item.buCount }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </div>

        <div class="k-card">
          <v-card class="k-card-title" color="info">Top User</v-card>
          <v-card class="k-card-content">
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-for="(item, index) in dashboardTopUsers" :key="index">
                    <td>{{ item.userName }}</td>
                    <td>{{ item.numberofUse }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </div>
      </v-col>
    </v-row>

    <!-- <v-img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJAfYK-7CCx5eL6uTd3jPT3J2pmCJPhe0WjTObLgvg4A192YEv&s"
    /> -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      dashboardCalculate: {},
      dashboardNewLocations: [],
      dashboardTopUsers: [],
      dashboardTopBus: [],
      dashboardRatePrices: []
    }
  },
  mounted() {
    this.$store.dispatch('getDashboard').then(() => {
      console.log(this.$store.state.dashboard)
      const dashboard = JSON.parse(JSON.stringify(this.$store.state.dashboard))
      if (dashboard.status || dashboard.status === 'true') {
        if (dashboard.hasOwnProperty('dashboardCalculate'))
          this.dashboardCalculate = dashboard.dashboardCalculate
        if (dashboard.hasOwnProperty('dashboardNewLocations'))
          this.dashboardNewLocations = dashboard.dashboardNewLocations
        if (dashboard.hasOwnProperty('dashboardTopUsers'))
          this.dashboardTopUsers = dashboard.dashboardTopUsers
        if (dashboard.hasOwnProperty('dashboardTopBus'))
          this.dashboardTopBus = dashboard.dashboardTopBus
        if (dashboard.hasOwnProperty('dashboardRatePrices'))
          this.dashboardRatePrices = dashboard.dashboardRatePrices
      }
    })
  }
}
</script>

<style scoped>
div.k-card {
  padding: 0 20px 20px 20px;
}
div.k-card-title {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.84);
  margin: 0 10px;
  padding: 20px;
  bottom: -20px;
  z-index: 1;
}
div.k-card-content {
  padding: 20px;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
}

div.custom-title {
  font-size: 24px;
}
</style>
