<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Import - Export data</div>
          <router-link to="/calculator" class="custom-router-link">
            Import - Export data
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/import">
            <v-icon size="20">reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col>
          <div class="custom-title">Detail</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="auto" class="px-5">
          <base-display title="Import/Export" :text="transportSearch" />
        </v-col>
        <v-col cols="auto" class="px-5">
          <base-display title="Sea/Airplane" :text="transportTypeSearch" />
        </v-col>
        <v-col cols="auto" class="px-5">
          <base-display title="Status" :text="statusSearch" />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col></v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn outlined color="grey darken-3" @click="onCancel">
            Cancel
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn depressed dark color="red lighten-1" @click="onReset">
            Reset
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn color="blue darken-1" depressed large dark @click="onSave">
            <v-icon>save</v-icon>
            Save
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="!isEdit">
          <v-btn class="mx-1" color="grey darken-3" outlined @click="onEdit">
            <v-icon size="20">mdi-circle-edit-outline</v-icon>
            Edit
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table :headers="headers" :items="importDetailList">
        <template v-slot:item.carrier="{ item }">
          <input
            v-if="isEdit"
            v-model="item.carrier"
            size="10"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.carrier | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.etd="{ item }">
          <input
            v-if="isEdit"
            v-model="item.etd"
            size="6"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.etd | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.eta="{ item }">
          <input
            v-if="isEdit"
            v-model="item.eta"
            size="6"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.eta | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.tranship="{ item }">
          <input
            v-if="isEdit"
            v-model="item.tranship"
            size="10"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.tranship | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.pol="{ item }">
          <input
            v-if="isEdit"
            v-model="item.pol"
            size="6"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.pol | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.cutoff="{ item }">
          <input
            v-if="isEdit"
            v-model="item.cutoff"
            size="6"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.cutoff | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.transitTime="{ item }">
          <input
            v-if="isEdit"
            v-model="item.transitTime"
            size="6"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.transitTime | replaceBlank }}
          </span>
        </template>
        <template v-slot:item.days="{ item }">
          <div v-if="isEdit" class="pt-2 pb-1">
            <v-row>
              <v-col cols="auto">
                <input v-model="item.sun" type="checkbox" /> Sun
              </v-col>
              <v-col cols="auto">
                <input v-model="item.mon" type="checkbox" /> Mon
              </v-col>
              <v-col cols="auto">
                <input v-model="item.tue" type="checkbox" /> Tue
              </v-col>
              <v-col cols="auto">
                <input v-model="item.wed" type="checkbox" /> Wed
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="auto">
                <input v-model="item.thu" type="checkbox" /> Thu
              </v-col>
              <v-col cols="auto">
                <input v-model="item.fri" type="checkbox" /> Fri
              </v-col>
              <v-col cols="auto">
                <input v-model="item.sat" type="checkbox" /> Sat
              </v-col>
            </v-row>
            <!-- <div class="pb-1">
            </div>
            <div class="pb-1">
            </div>
            <div class="pb-1">
            </div>
            <div class="pb-1">
            </div>
            <div class="pb-1">
            </div>
            <div class="pb-1">
            </div>
            <div class="pb-1">
            </div> -->
          </div>
          <v-chip
            v-else
            v-for="day in item.days"
            :key="day.text"
            class="font-weight-bold mr-1"
            :color="day.class"
            label
            x-small
            dark
          >
            {{ day.text }}
          </v-chip>
        </template>
        <template v-slot:item.manage="{ item }">
          <v-btn
            text
            class="info--text"
            :to="
              `/importPrice/${item.id}/${item.transportTypeId}/${$route.params.transportId}/${$route.params.status}/${$route.params.id}`
            "
          >
            <v-icon color="info">search</v-icon> Detail
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
// import moment from 'moment'

export default {
  mounted() {
    if (this.$store.state.transport.length == 0)
      this.$store.dispatch('getTransport')
    if (this.$store.state.transportType.length == 0)
      this.$store.dispatch('getTransportType')
    this.$store.dispatch('getImportDetail', {
      id: this.$route.params.id,
      transportTypeId: this.$route.params.transportTypeId
    })
    this.$store.dispatch('getStatus')
  },
  data() {
    return {
      isEdit: false,
      origin: [],
      importDetailList: []
    }
  },
  computed: {
    headers() {
      if (this.$route.params.transportTypeId == 1) {
        return [
          { text: 'ID', value: 'id' },
          { text: 'Country', value: 'country' },
          { text: 'Location', value: 'location' },
          { text: 'Carrier', value: 'carrier' },
          { text: 'Days', value: 'days' },
          { text: 'ETD', value: 'etd' },
          { text: 'ETA', value: 'eta' },
          { text: 'Tranship', value: 'tranship' },
          { text: 'Management', value: 'manage' }
        ]
      } else {
        return [
          { text: 'ID', value: 'id' },
          { text: 'Country', value: 'country' },
          { text: 'Location', value: 'location' },
          { text: 'Shipment', value: 'shipment' },
          { text: 'Carrier', value: 'carrier' },
          { text: 'ETD', value: 'etd' },
          { text: 'Tranship', value: 'tranship' },
          { text: 'pol', value: 'pol' },
          { text: 'Cut Off', value: 'cutoff' },
          { text: 'Transit Time', value: 'transitTime' },
          { text: 'Management', value: 'manage' }
        ]
      }
    },
    transportSearch() {
      if (this.$route.params.transportId == 0) {
        return 'All'
      } else {
        if (this.$store.state.transport.length > 0) {
          return this.$store.state.transport.find(item => {
            // return { text: t.transportDesc, value: t.transportId }
            return item.transportId == this.$route.params.transportId
          }).transportDesc
        } else {
          return ''
        }
      }
    },
    transportTypeSearch() {
      if (this.$route.params.transportTypeId == 0) {
        return 'All'
      } else {
        if (this.$store.state.transportType.length > 0) {
          return this.$store.state.transportType.find(item => {
            return item.transportTypeId == this.$route.params.transportTypeId
          }).transportTypeDesc
        } else {
          return ''
        }
      }
    },
    statusSearch() {
      if (this.$route.params.status == 0) {
        return 'All'
      } else {
        if (this.$store.state.statusList.length > 0) {
          return this.$store.state.statusList.find(item => {
            return item.id == this.$route.params.status
          }).statusDesc
        } else {
          return ''
        }
      }
    },
    importDetail() {
      return this.$store.state.importDetail.map(item => {
        let days = []
        if (
          item.sun &&
          item.mon &&
          item.tue &&
          item.wed &&
          item.thu &&
          item.fri &&
          item.sat
        ) {
          days.push({ text: 'Daily', class: 'green' })
        } else {
          if (item.sun) days.push({ text: 'S', class: 'red' })
          if (item.mon) days.push({ text: 'M', class: 'yellow darken-1' })
          if (item.tue) days.push({ text: 'T', class: 'pink' })
          if (item.wed) days.push({ text: 'W', class: 'green' })
          if (item.thu) days.push({ text: 'Th', class: 'orange' })
          if (item.fri) days.push({ text: 'F', class: 'light-blue' })
          if (item.sat) days.push({ text: 'Sa', class: 'deep-purple' })
        }
        item.days = days
        return item
      })
    }
  },
  watch: {
    importDetail(value) {
      this.importDetailList = value
    }
  },
  methods: {
    onEdit() {
      this.origin = JSON.parse(JSON.stringify(this.importDetailList))
      this.isEdit = true
    },
    onSave() {
      this.$store
        .dispatch('putImportDetail', this.importDetailList)
        .then(() => {
          this.$store.dispatch('getImportDetail', {
            id: this.$route.params.id,
            transportTypeId: this.$route.params.transportTypeId
          })
          this.isEdit = false
        })
    },
    onReset() {
      if (confirm('Are you sure to RESET this change?')) {
        this.importDetailList = JSON.parse(JSON.stringify(this.origin))
      }
    },
    onCancel() {
      if (confirm('Are you sure to CANCEL this change?')) {
        this.importDetailList = JSON.parse(JSON.stringify(this.origin))
      }
      this.isEdit = false
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
.custom-text-field {
  background-color: #fff;
  padding: 4px 8px;
}
.outlined {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 4px;
}
</style>
