<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Import - Export data</div>
          <router-link to="/calculator" class="custom-router-link">
            Import - Export data
          </router-link>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="ma-5 pa-5" outlined>
      <div class="custom-title">Search</div>
      <v-container>
        <v-row>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="transport"
              title="Import/Export"
              :items="transportList"
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select
              v-model="transportType"
              title="Sea/Airplane"
              :items="transportTypeList"
            />
          </v-col>
          <v-col class="pa-2" cols="12" md="3">
            <base-select v-model="status" title="status" :items="statusList" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-right pb-0" cols="12">
            <v-btn large color="primary" elevation="0" @click="onSearch">
              <v-icon>search</v-icon> Search
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col cols="auto">
          <div class="custom-title">Agent List</div>
        </v-col>
        <v-col></v-col>
        <v-col cols="auto" class="pa-0">
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            @click="onDownloadAir"
          >
            <v-icon size="20">mdi-download</v-icon> Download Air
          </v-btn>
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            @click="onDownloadSea"
          >
            <v-icon size="20">mdi-download</v-icon> Download Sea
          </v-btn>
          <v-btn
            class="mx-1"
            color="grey darken-3"
            elevation="0"
            outlined
            @click="onOpen"
          >
            <v-icon size="20">mdi-upload</v-icon> Upload
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table :headers="headers" :items="getImport" item-key="tableId">
        <template v-slot:item.createDate="{ item }">
          <span class="text-no-wrap">{{ item.createDate }}</span>
        </template>

        <template v-slot:item.agentName="{ item }">
          <span class="text-no-wrap">{{ item.agentName }}</span>
        </template>

        <template v-slot:item.transport="{ item }">
          <span class="text-no-wrap">{{ item.transport }}</span>
        </template>

        <template v-slot:item.transportType="{ item }">
          <span class="text-no-wrap">{{ item.transportType }}</span>
        </template>

        <template v-slot:item.status="{ item }">
          <span class="text-no-wrap">{{ item.status }}</span>
        </template>

        <template v-slot:item.duration="{ item }">
          <span class="text-no-wrap">{{ item.duration }}</span>
        </template>

        <template v-slot:item.manage="{ item }">
          <span class="text-no-wrap">
            <v-btn
              text
              class="info--text"
              :to="
                `/importDetail/${item.transportId}/${item.transportTypeId}/${item.statusId}/${item.id}`
              "
            >
              <v-icon color="info">search</v-icon> Detail
            </v-btn>
            <v-btn text class="info--text" @click="onDownload(item)">
              <v-icon size="20">mdi-download</v-icon> Download
            </v-btn>
            <v-btn
              v-if="item.statusId === 4"
              class="success--text"
              text
              @click="onApprove(item)"
            >
              Approve
            </v-btn>
            <v-btn
              v-if="item.statusId === 4"
              class="warning--text"
              text
              @click="onReject(item)"
            >
              Reject
            </v-btn>
            <v-btn
              v-if="item.statusId === 1"
              class="error--text"
              text
              @click="onExpire(item)"
            >
              Expire
            </v-btn>
          </span>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Upload</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class="pt-3 pl-2" style="font-size:16px">
                      Agent
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-select
                      v-model="uploadAgentId"
                      class="dense"
                      :items="agentList"
                      outlined
                      single-line
                      hide-details
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      From date
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <base-date-picker
                      v-model="uploadFromDate"
                      mode="dense"
                      required
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      To date
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <base-date-picker
                      v-model="uploadToDate"
                      mode="dense"
                      :thruDate="uploadFromDate"
                      required
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      Upload File (.xlsx only)
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-file-input
                      v-model="uploadFile"
                      class="dense"
                      outlined
                      single-line
                      hide-details
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="onCancel"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" depressed large dark @click="onUpload"
            >Upload</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="approveDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Confirm approval?</span>
        </v-card-title>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="onApproveCancel">
            Cancel
          </v-btn>
          <v-btn color="success" depressed large dark @click="onApproveConfirm">
            Approve
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="expireDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Confirm expired?</span>
        </v-card-title>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="onExpireCancel">
            Cancel
          </v-btn>
          <v-btn color="error" depressed large dark @click="onExpireConfirm">
            Expire
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="rejectDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Reject</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="12" class="pa-1">
                    <div class="pt-3 pl-2" style="font-size:16px">
                      Comment
                    </div>
                  </v-col>
                  <v-col class="pa-1">
                    <v-textarea
                      v-model="rejectText"
                      class="dense"
                      outlined
                      hide-details
                      no-resize
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="onRejectCancel">
            Cancel
          </v-btn>
          <v-btn color="warning" depressed large dark @click="onRejectConfirm">
            Reject
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  mounted() {
    if (this.$store.state.transport.length == 0)
      this.$store.dispatch('getTransport')
    if (this.$store.state.transportType.length == 0)
      this.$store.dispatch('getTransportType')
    this.$store.dispatch('getImportList')
    this.$store.dispatch('getStatus')
    this.$store.dispatch('getAgent')
  },

  data() {
    return {
      dialog: false,
      search: '',
      selected: [],
      transport: 0,
      transportType: 0,
      status: 0,
      headers: [
        { text: 'Create date', value: 'createDate' },
        { text: 'Agent', value: 'agentName' },
        { text: 'Import/Export', value: 'transport' },
        { text: 'Sea/Airplane', value: 'transportType' },
        { text: 'Status', value: 'status' },
        { text: 'Duration', value: 'duration' },
        { text: 'Management', value: 'manage' }
      ],
      uploadAgentId: 1,
      uploadFromDate: new Date().toISOString().substr(0, 10),
      uploadToDate: new Date().toISOString().substr(0, 10),
      uploadFile: null,
      rejectDialog: false,
      rejectItem: null,
      rejectText: '',
      approveDialog: false,
      approveItem: null,
      expireDialog: false,
      expireItem: null
    }
  },

  computed: {
    transportList() {
      let transport = this.$store.state.transport.map(item => {
        return { text: item.transportDesc, value: item.transportId }
      })
      return [{ text: 'All', value: 0 }, ...transport]
    },

    transportTypeList() {
      let transportType = this.$store.state.transportType
        .filter(item => {
          return item.transportTypeId > 0
        })
        .map(item => {
          return { text: item.transportTypeDesc, value: item.transportTypeId }
        })
      return [{ text: 'All', value: 0 }, ...transportType]
    },

    statusList() {
      let status = this.$store.state.statusList.map(item => {
        return { text: item.statusDesc, value: item.id }
      })
      return [{ text: 'All', value: 0 }, ...status]
    },

    agentList() {
      return this.$store.state.agents.map(item => {
        return { text: item.agentName, value: item.agentId }
      })
    },

    getImport() {
      return this.$store.state.importList.map(item => {
        item.tableId = '' + item.id + item.transportId + item.transportTypeId
        if (item.transport == 'Export') {
          item.transportId = 1
        } else {
          item.transportId = 2
        }
        item.createDate = moment(item.createDate).format(
          'DD MMM YYYY, HH:mm:ss'
        )
        item.duration =
          moment(item.startDay).format('DD MMM YYYY') +
          ' -' +
          moment(item.endDay).format('DD MMM YYYY')
        return item
      })
    }
  },

  methods: {
    onSearch() {
      this.$store.dispatch('getImportList', {
        transportId: this.transport,
        transportTypeId: this.transportType,
        statusId: this.status
      })
    },

    onDownload(data) {
      const downloadedFileName = data.transport + '-' + data.agentName
      this.$store.dispatch('getImportDownload', {
        filename: downloadedFileName,
        transportTypeId: data.transportTypeId,
        tableId: data.id
      })
    },

    onDownloadAir() {
      const downloadedFileName = 'Air Import-Export'
      this.$store.dispatch('getImportDownload', {
        filename: downloadedFileName,
        transportTypeId: '1',
        tableId: '0'
      })
    },

    onDownloadSea() {
      const downloadedFileName = 'Sea Import-Export'
      this.$store.dispatch('getImportDownload', {
        filename: downloadedFileName,
        transportTypeId: '2',
        tableId: '0'
      })
    },

    onApprove(item) {
      this.approveItem = item
      this.approveDialog = true
    },

    onApproveConfirm() {
      const item = this.approveItem
      this.$store
        .dispatch('getImportApprove', {
          id: item.id,
          transportTypeId: item.transportTypeId
        })
        .then(() => {
          this.onApproveCancel()
        })
    },

    onApproveCancel() {
      this.approveDialog = false
      this.approveItem = null
    },

    onExpire(item) {
      this.expireItem = item
      this.expireDialog = true
    },

    onExpireConfirm() {
      const item = this.expireItem
      this.$store
        .dispatch('getImportExpire', {
          id: item.id,
          transportTypeId: item.transportTypeId
        })
        .then(() => {
          this.onExpireCancel()
        })
    },

    onExpireCancel() {
      this.expireDialog = false
      this.expireItem = null
    },

    onReject(item) {
      this.rejectItem = item
      this.rejectDialog = true
    },

    onRejectConfirm() {
      const body = {
        Transportid: this.rejectItem.transportTypeId,
        Id: this.rejectItem.id,
        Detail: this.rejectText
      }
      this.$store.dispatch('postImportReject', body).then(() => {
        this.onRejectCancel()
      })
    },

    onRejectCancel() {
      this.rejectDialog = false
      this.rejectItem = null
      this.rejectText = ''
    },

    onOpen() {
      this.dialog = true
    },

    onUpload() {
      let formData = new FormData()
      formData.append('AgentId', this.uploadAgentId)
      formData.append('File', this.uploadFile)
      formData.append('FromDate', this.uploadFromDate)
      formData.append('ToDate', this.uploadToDate)
      this.$store.dispatch('postImportUpload', formData).then(() => {
        if (this.$store.state.importUploadError.length > 0) {
          alert(this.$store.state.importUploadError)
          this.$store.state.importUploadError = ''
        } else {
          this.$store.dispatch('getImportList').then(() => {
            this.dialog = false
          })
        }
      })
    },

    onCancel() {
      this.dialog = false
      this.uploadAgentId = 1
      this.uploadFromDate = new Date().toISOString().substr(0, 10)
      this.uploadToDate = new Date().toISOString().substr(0, 10)
      this.uploadFile = null
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
