<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Import - Export data</div>
          <router-link to="/calculator" class="custom-router-link">
            Import - Export data
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn
            class="mx-1"
            color="grey darken-3"
            outlined
            :to="
              `/importDetail/${$route.params.transportId}/${$route.params.transportTypeId}/${$route.params.status}/${$route.params.id}`
            "
          >
            <v-icon size="20">reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col>
          <div class="custom-title">Detail</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="auto" class="px-5">
          <base-display title="Import/Export" :text="transportSearch" />
        </v-col>
        <v-col cols="auto" class="px-5">
          <base-display title="Sea/Airplane" :text="transportTypeSearch" />
        </v-col>
        <v-col cols="auto" class="px-5">
          <base-display title="Status" :text="statusSearch" />
        </v-col>
        <v-col cols="auto" class="px-5">
          <base-display title="Detail ID" :text="$route.params.detailId" />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col></v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn outlined color="grey darken-3" @click="onCancel">
            Cancel
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn depressed dark color="red lighten-1" @click="onReset">
            Reset
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="isEdit">
          <v-btn color="blue darken-1" depressed large dark @click="onSave">
            <v-icon>save</v-icon>
            Save
          </v-btn>
        </v-col>
        <v-col cols="auto" v-if="!isEdit">
          <v-btn class="mx-1" color="grey darken-3" outlined @click="onEdit">
            <v-icon size="20">mdi-circle-edit-outline</v-icon>
            Edit
          </v-btn>
        </v-col>
      </v-row>
      <v-data-table :headers="headers" :items="importPriceList">
        <template v-slot:item.container="{ item }">
          {{ item.container | replaceBlank }}
        </template>
        <template v-slot:item.fixRate="{ item }">
          <input
            v-if="isEdit"
            type="number"
            v-model.number="item.fixRate"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.fixRate }}
          </span>
        </template>
        <template v-slot:item.flatRate="{ item }">
          <input
            v-if="isEdit"
            type="number"
            v-model.number="item.flatRate"
            class="custom-text-field outlined"
          />
          <span v-else>
            {{ item.flatRate }}
          </span>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
// import moment from 'moment'

export default {
  mounted() {
    if (this.$store.state.transport.length == 0)
      this.$store.dispatch('getTransport')
    if (this.$store.state.transportType.length == 0)
      this.$store.dispatch('getTransportType')
    this.$store.dispatch('getImportPrice', {
      detailId: this.$route.params.detailId,
      transportTypeId: this.$route.params.transportTypeId
    })
    this.$store.dispatch('getStatus')
  },
  data() {
    return {
      isEdit: false,
      origin: [],
      importPriceList: [],
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Container', value: 'container' },
        { text: 'Range', value: 'range' },
        { text: 'Fix Rate', value: 'fixRate' },
        { text: 'Flat Rate', value: 'flatRate' },
        { text: 'Currency', value: 'currency' }
      ]
    }
  },
  computed: {
    transportSearch() {
      if (this.$route.params.transportId == 0) {
        return 'All'
      } else {
        if (this.$store.state.transport.length > 0) {
          return this.$store.state.transport.find(item => {
            return item.transportId == this.$route.params.transportId
          }).transportDesc
        } else {
          return ''
        }
      }
    },
    transportTypeSearch() {
      if (this.$route.params.transportTypeId == 0) {
        return 'All'
      } else {
        if (this.$store.state.transportType.length > 0) {
          return this.$store.state.transportType.find(item => {
            return item.transportTypeId == this.$route.params.transportTypeId
          }).transportTypeDesc
        } else {
          return ''
        }
      }
    },
    statusSearch() {
      if (this.$route.params.status == 0) {
        return 'All'
      } else {
        if (this.$store.state.statusList.length > 0) {
          return this.$store.state.statusList.find(item => {
            return item.id == this.$route.params.status
          }).statusDesc
        } else {
          return ''
        }
      }
    },
    importPrice() {
      return this.$store.state.importPrice.map(item => {
        item.range = item.minRange + ' - ' + item.maxRange
        return item
      })
    }
  },
  watch: {
    importPrice(value) {
      this.importPriceList = value
    }
  },
  methods: {
    onEdit() {
      this.origin = JSON.parse(JSON.stringify(this.importPriceList))
      this.isEdit = true
    },
    onSave() {
      this.$store.dispatch('putImportPrice', this.importPriceList).then(() => {
        this.$store.dispatch('getImportPrice', {
          detailId: this.$route.params.detailId,
          transportTypeId: this.$route.params.transportTypeId
        })
        this.isEdit = false
      })
    },
    onReset() {
      if (confirm('Are you sure to RESET this change?')) {
        this.importPriceList = JSON.parse(JSON.stringify(this.origin))
      }
    },
    onCancel() {
      if (confirm('Are you sure to CANCEL this change?')) {
        this.importPriceList = JSON.parse(JSON.stringify(this.origin))
      }
      this.isEdit = false
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
.custom-text-field {
  background-color: #fff;
  padding: 4px 8px;
}
.outlined {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 4px;
}
</style>
