<template>
  <div>
    <v-flex class="about">
      <v-card
        class="mx-auto"
        style="margin-top:100px"
        elevation="0"
        max-width="360"
        outlined
      >
        <v-card-text class="pa-0">
          <div class="text-center py-8">
            <v-img
              class="mx-auto"
              :src="require('../assets/chaitai.png')"
              width="150"
              :aspect-ratio="290 / 96"
            />
            <div class="display-1 font-weight-bold black--text">
              Freight
            </div>
          </div>
          <v-divider />
          <form @submit.prevent="login">
            <div class="pt-10 pb-7 px-10">
              <v-text-field
                v-model="email"
                class="mb-6"
                outlined
                single-line
                hide-details
                label="อีเมลล์"
                prepend-inner-icon="person"
              />
              <v-text-field
                v-model="password"
                class="mb-6"
                type="password"
                outlined
                single-line
                hide-details
                label="รหัสผ่าน"
                prepend-inner-icon="vpn_key"
              />
              <v-btn type="submit" class="primary" block elevation="0"
                >Login</v-btn
              >
            </div>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>

    <div class="text-center">
      <v-dialog v-model="dialog" width="500">
        <v-card>
          <v-card-title class="headline error white--text" primary-title>
            Error!
          </v-card-title>

          <v-card-text>
            <div class="py-2">
              {{ text }}
            </div>
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-spacer />
            <v-btn color="error" text @click="dialog = false">
              OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      dialog: false,
      text: 'E-mail or password is incorrect'
    }
  },
  methods: {
    login() {
      let payload = { u: this.email, p: this.password }
      this.$store.dispatch('accessToken', payload).then(() => {
        if (localStorage.getItem('loginToken')) {
          this.$router.push('/')
        } else {
          this.dialog = true
        }
      })
    }
  }
}
</script>
