<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">{{ title }}</div>
          <router-link to="/member" class="custom-router-link">
            Member
          </router-link>
          /
          <router-link to="/member" class="custom-router-link">
            {{ action }}
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined to="/member">
            <v-icon size="20">reply</v-icon>
            Back
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col>
          <div class="custom-title">{{ title }}</div>
        </v-col>
        <v-col v-if="!isEdit && hasId" class="text-right">
          <v-btn outlined large color="grey darken-3" @click="isEdit = true">
            <v-icon>mdi-circle-edit-outline</v-icon>
            Edit
          </v-btn>
        </v-col>
      </v-row>
      <v-container>
        <v-form v-if="isEdit || !hasId" v-model="formValid">
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-text-field
                v-model="formData.email"
                title="E-mail"
                :required="true"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-text-field
                v-model="formData.firstName"
                title="Firstname"
                :required="true"
              />
            </v-col>
            <v-col class="pa-2" cols="12" md="3">
              <base-text-field
                v-model="formData.lastName"
                title="Lastname"
                :required="true"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <!-- <base-select
                v-model="formData.userTypeId"
                title="User Type"
                :items="getUserType"
              /> -->
              <div>
                <div class="mb-1">
                  User Type
                </div>
                <v-select
                  v-model="formData.userTypeId"
                  :items="getUserType"
                  outlined
                  hide-details
                  single-line
                  @change="onSelectRole"
                />
              </div>
            </v-col>
            <v-col class="pa-2" cols="12" md="3">
              <base-select
                v-model="formData.status"
                title="Status"
                :items="getStatus"
              />
            </v-col>
          </v-row>
          <v-row v-if="formData.userTypeId != 3">
            <v-col class="pa-2" cols="12" md="6">
              <div>
                <div class="mb-1">
                  Department
                  <span v-if="departmentRequired" class="red--text">*</span>
                </div>
                <v-select
                  v-model="buDepartment"
                  :items="departmentList"
                  :rules="departmentRules"
                  required
                  outlined
                  hide-details
                  single-line
                  attach
                  chips
                  multiple
                />
              </div>
            </v-col>
          </v-row>
          <v-row v-if="formData.userTypeId == 3">
            <v-col class="pa-2" cols="12" md="3">
              <base-select
                v-model="formData.agentId"
                title="Choose Agent"
                :items="getAgent"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <div class="mb-1">Password</div>
              <v-text-field
                v-model="formData.password"
                hint="click symbol to generate password"
                append-icon="mdi-refresh"
                outlined
                readonly
                persistent-hint
                single-line
                @click:append="regeneratePassword"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-checkbox
              v-model="formData.emailingPassword"
              label="E-mailing me this new password"
            />
          </v-row>
          <v-row>
            <v-col cols="auto">
              <v-btn
                color="blue darken-1"
                depressed
                large
                :dark="formValid"
                :disabled="!formValid"
                @click="onSave"
              >
                <v-icon>save</v-icon>
                Save
              </v-btn>
            </v-col>
            <v-col v-if="hasId" cols="auto">
              <v-btn
                depressed
                large
                dark
                color="red lighten-1"
                @click="onReset"
              >
                Reset
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn outlined large color="grey darken-3" @click="onCancel">
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-form>

        <div v-if="!isEdit && hasId">
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display title="E-mail" :text="formData.email" />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display title="Firstname" :text="formData.firstName" />
            </v-col>
            <v-col class="pa-2" cols="12" md="3">
              <base-display title="Lastname" :text="formData.lastName" />
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pa-2" cols="12" md="3">
              <base-display title="User Type" :text="formData.userType" />
            </v-col>
            <v-col class="pa-2" cols="12" md="3">
              <base-display
                title="Status"
                :text="
                  getStatus.find(item => {
                    return item.value == formData.status
                  }).text
                "
              />
            </v-col>
          </v-row>
          <v-row v-if="formData.userTypeId != 3">
            <v-col class="pa-2" cols="12" md="3">
              <base-display
                title="Department(s)"
                :text="
                  formData.departments
                    .filter(item => {
                      return item.status == true
                    })
                    .map(item => {
                      return item.departmentName
                    })
                    .join(', ')
                "
              />
            </v-col>
          </v-row>
          <v-row v-if="formData.userTypeId == 3">
            <v-col class="pa-2" cols="12" md="3">
              <base-display
                title="Agent"
                :text="
                  getStatus.find(item => {
                    return item.value == formData.agentId
                  }).text
                "
              />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>

    <!-- DIALOG -->
    <v-dialog v-model="successDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Success!!</v-card-title>

        <v-card-text>
          Go back to Main page?
        </v-card-text>

        <v-card-actions>
          <v-spacer />

          <v-btn color="green darken-1" text to="/member">
            Go Back
          </v-btn>

          <v-btn text @click="successDialog = false">
            Stay
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="failDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Fail..</v-card-title>

        <v-card-text>
          <div v-html="failMsg"></div>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn color="error" text @click="failDialog = false">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      successDialog: false,
      failDialog: false,
      failMsg: '',
      action: 'Add Member',
      isEdit: false,
      formValid: false,
      buDepartment: [],
      formData: {
        id: 0,
        userTypeId: 1,
        userType: 'SupeUser',
        departments: [],
        email: '',
        firstName: '',
        lastName: '',
        status: true,
        password: '',
        chemical: true,
        seed: false,
        agentId: 0
      },
      originForm: null,
      getStatus: [
        { text: 'Active', value: true },
        { text: 'In-Active', value: false }
      ]
    }
  },
  computed: {
    getUserType() {
      return this.$store.state.userTypeList
        .filter(item => {
          return item.userTypeId >= localStorage.getItem('userTypeId')
        })
        .map(item => {
          item.value = item.userTypeId
          item.text = item.userTypeDesc
          return item
        })
    },
    getAgent() {
      return this.$store.state.agents.map(item => {
        item.value = item.agentId
        item.text = item.agentName
        return item
      })
    },
    hasId() {
      return this.$route.params.id ? true : false
    },
    title() {
      if (this.hasId) {
        if (this.isEdit) {
          return 'Edit Member'
        } else {
          return 'Member Detail'
        }
      }
      return 'Add Member'
    },
    memberError() {
      return this.$store.state.memberError
    },
    departmentRules() {
      if (this.departmentRequired) {
        return [
          v => {
            return !!v.length || 'Item is required'
          }
        ]
      } else {
        return []
      }
    },
    departmentList() {
      // return [
      //   { text: 'Seed', value: 1 },
      //   { text: 'Fertilizer', value: 2 },
      //   { text: 'plant protection', value: 3 },
      //   { text: 'Fresh', value: 4 }
      // ]
      return this.$store.state.allDepartments.map(item => {
        return {
          text: item.departmentName,
          value: item.id
        }
      })
    },
    departmentRequired() {
      return this.formData.userTypeId != 3
    }
  },
  mounted() {
    this.$store.dispatch('getUserType')
    this.$store.dispatch('getAllDepartment')
    this.$store.dispatch('getAgent')
    if (this.hasId) {
      this.$store.dispatch('getMember', this.$route.params.id).then(() => {
        this.formData = this.$store.state.members[0]
        this.buDepartment = this.formData.departments
          .filter(item => {
            return item.status == true
          })
          .map(item => {
            return item.id
          })
        this.originForm = JSON.parse(JSON.stringify(this.formData))
        this.formValid = true
        this.action = this.formData.firstName + ' ' + this.formData.lastName
      })
    } else {
      this.regeneratePassword()
    }
  },
  methods: {
    regeneratePassword() {
      var length = 8,
        charset =
          'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
        retVal = ''
      for (var i = 0, n = charset.length; i < length; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n))
      }
      this.formData.password = retVal
    },
    onSelectRole(evt) {
      if (evt == 3) {
        this.formData.agentId = 1
      } else {
        this.formData.agentId = 0
      }
    },
    onReset() {
      this.formData.userTypeId = this.originForm.userTypeId
      this.formData.email = this.originForm.email
      this.formData.firstName = this.originForm.firstName
      this.formData.lastName = this.originForm.lastName
      this.formData.status = this.originForm.status
      this.formData.password = this.originForm.password
      this.formData.agentId = this.originForm.agentId
    },
    onCancel() {
      if (this.hasId) {
        this.isEdit = false
        this.onReset()
      } else {
        this.$router.push('/member')
      }
    },
    onSave() {
      this.formData.userType = this.getUserType.find(item => {
        return item.value == this.formData.userTypeId
      }).text
      this.formData.departments = this.departmentList.map(item => {
        let res = {}
        res.id = item.value
        res.departmentName = item.text
        res.status = this.buDepartment.includes(item.value)
        return res
      })
      if (this.hasId) {
        this.formData.id = this.$route.params.id
        this.$store.dispatch('putMember', this.formData).then(() => {
          if (this.memberError.length > 0) {
            this.failUpload(this.memberError)
          } else {
            this.succeccUpload()
          }
        })
      } else {
        this.$store.dispatch('postMember', this.formData).then(() => {
          if (this.memberError.length > 0) {
            this.failUpload(this.memberError)
          } else {
            this.succeccUpload()
          }
        })
      }
    },
    succeccUpload() {
      this.successDialog = true
    },
    failUpload(msg) {
      this.failMsg = msg
      this.failDialog = true
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
