<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Member</div>
          <router-link to="/member" class="custom-router-link">
            Member
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn
            class="mx-1"
            color="grey darken-3"
            outlined
            to="/memberManaging"
          >
            <v-icon size="20">mdi-plus</v-icon>
            Add Member
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table :headers="headers" :items="memberList" :search="search">
        <template v-slot:item.manage="{ item }">
          <v-btn text class="info--text" :to="`/memberManaging/${item.id}`">
            <v-icon color="info">search</v-icon> Detail
          </v-btn>
        </template>
        <template v-slot:item.activation="{ item }">
          <v-chip
            v-if="item.activation"
            class="font-weight-bold"
            color="green"
            small
            label
            dark
          >
            Active
          </v-chip>
          <v-chip v-else class="font-weight-bold" color="red" small label dark>
            In-Active
          </v-chip>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'E-mail', value: 'email' },
        { text: 'Name', value: 'name' },
        { text: 'User Type', value: 'userType' },
        { text: 'Status', value: 'activation' },
        { text: 'Management', value: 'manage' }
      ]
    }
  },
  computed: {
    memberList() {
      return this.$store.state.members.map(item => {
        item.name = item.firstName + ' ' + item.lastName
        item.activation = item.status ? true : false
        return item
      })
    }
  },
  mounted() {
    this.$store.dispatch('getMember')
  },
  methods: {}
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
