<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Request New Location</div>
          <router-link to="/request" class="custom-router-link">
            Request New Location
          </router-link>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="requestList"
        :search="search"
        :hide-default-header="requestList.length == 0"
        :hide-default-footer="requestList.length == 0"
      >
        <template v-slot:item.complete="{ item }">
          <v-btn text class="green--text lighten-2" @click="onApprove(item.id)">
            <v-icon color="green lighten-2">mdi-check-decagram</v-icon> Complete
          </v-btn>
        </template>
        <!-- <template v-slot:item.edit="{ item }">
          <v-btn text class="info--text" @click="onApprove(item.id)">
            <v-icon color="info">mdi-circle-edit-outline</v-icon> Edit
          </v-btn>
        </template> -->
        <template v-slot:item.delete="{ item }">
          <v-btn text class="red--text lighten-2" @click="onDelete(item.id)">
            <v-icon color="red lighten-2">mdi-trash-can-outline</v-icon> Delete
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      search: '',
      headers: [
        { text: 'Created Date', value: 'createDate' },
        { text: 'Request User', value: 'createUser' },
        { text: 'Import/Export', value: 'transportDesc' },
        { text: 'Sea/Airplane', value: 'transportTypeDesc' },
        { text: 'Start', value: 'start' },
        { text: 'Destination', value: 'destination' },
        { text: '', value: 'complete', sortable: false },
        // { text: '', value: 'edit', sort: false },
        { text: '', value: 'delete', sort: false }
      ]
    }
  },
  computed: {
    requestList() {
      return this.$store.state.requests.map(item => {
        item.createDate = moment(item.createDate).format('DD MMM YYYY, HH:mm')
        item.start =
          item.fromCountry + ' (' + item.fromCity + ') ' + item.fromLocation
        item.destination =
          item.toCountry + ' (' + item.toCity + ') ' + item.toLocation
        return item
      })
    }
  },
  mounted() {
    this.$store.dispatch('getRequest')
  },
  methods: {
    onApprove(id) {
      this.$store.dispatch('getRequestApprove', id).then(() => {
        if (this.$store.state.requestApproveError.length > 0) {
          alert(this.$store.state.requestApproveError)
          this.$store.state.requestApproveError = ''
        } else {
          this.$store.dispatch('getRequest')
        }
      })
    },
    onDelete(id) {
      this.$store.dispatch('getRequestCancel', id).then(() => {
        if (this.$store.state.requestCancelError.length > 0) {
          alert(this.$store.state.requestCancelError)
          this.$store.state.requestCancelError = ''
        } else {
          this.$store.dispatch('getRequest')
        }
      })
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
