<template>
  <div>
    <v-card class="pa-5" elevation="0">
      <v-row>
        <v-col>
          <div class="custom-title">Vat</div>
          <router-link to="/exchange" class="custom-router-link">
            Vat
          </router-link>
        </v-col>
        <v-col class="text-right" align-self="center">
          <v-btn class="mx-1" color="grey darken-3" outlined @click="onEdit(0)">
            <v-icon size="20">mdi-plus</v-icon>
            Add Vat
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="ma-5 pa-5" outlined>
      <v-row>
        <v-col></v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="vatList"
        :search="search"
        sort-by="id"
      >
        <template v-slot:item.status="{ item }">
          <v-chip
            v-if="item.status"
            class="font-weight-bold"
            color="green"
            small
            label
            dark
          >
            Active
          </v-chip>
          <v-chip v-else class="font-weight-bold" color="red" small label dark>
            In-Active
          </v-chip>
        </template>
        <template v-slot:item.manage="{ item }">
          <v-btn text class="info--text" @click="onEdit(item.id)">
            <v-icon color="info">mdi-circle-edit-outline</v-icon> Edit
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">
            {{ dialogTitle }}
          </span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <dialog-text-field v-model="editVat" title="Vat" type="number" />
            <dialog-select
              v-model="editStatus"
              title="Status"
              :items="statusArray"
            />
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-2" @click="onClose">
            Cancel
          </v-btn>
          <v-btn color="blue darken-1" depressed large dark @click="onSave">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      dialog: false,
      dialogTitle: '',
      editVat: 0,
      editStatus: true,
      body: {},
      search: '',
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Active Date', value: 'activeDate' },
        { text: 'Vat', value: 'vatText' },
        { text: 'Status', value: 'status' },
        { text: 'Mansgement', value: 'manage' }
      ],
      statusArray: [
        { text: 'Active', value: true },
        { text: 'In-Active', value: false }
      ]
    }
  },
  computed: {
    vatList() {
      return this.$store.state.vats.map(item => {
        item.vatText = item.vatValue + ' %'
        item.activeDate = moment(item.activeDate).format('DD MMM YYYY')
        return item
      })
    }
  },
  mounted() {
    this.$store.dispatch('getVat')
  },
  methods: {
    onClose() {
      this.dialog = false
    },
    onEdit(id) {
      if (id == 0) {
        this.dialogTitle = 'Add Vat'
        this.editVat = 0
        this.editStatus = true
      } else {
        this.dialogTitle = 'Edit Vat, ID:' + id
        let obj = this.vatList.find(item => {
          return item.id == id
        })
        this.editVat = obj.vatValue
        this.editStatus = obj.status
      }
      this.body = {
        id: id,
        activeDate: moment().format('YYYY-MM-DD[T]HH:mm:ss'),
        status: this.editStatus
      }
      this.dialog = true
    },
    onSave() {
      this.body.vatValue = parseInt(this.editVat)
      if (this.body.id == 0) {
        this.$store.dispatch('postVat', this.body).then(() => {
          this.$store.dispatch('getVat')
        })
      } else {
        this.$store.dispatch('putVat', this.body).then(() => {
          this.$store.dispatch('getVat')
        })
      }
      this.dialog = false
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
