<template>
  <div v-if="this.$route.path != '/login'">
    <v-navigation-drawer
      v-model="model"
      app
      floating
      clipped
      overflow
      hide-overlay
      color="#3d464d"
    >
      <v-list class="left-menu pt-0">
        <template v-for="item in navigationDrawer">
          <v-list-group
            v-if="item.hasOwnProperty('subitems')"
            :key="item.title"
            class="left-menu"
            :class="
              item.subroute.indexOf($route.path) >= 0
                ? 'left-menu menu-active'
                : 'left-menu'
            "
            no-action
          >
            <!-- <template v-slot:prepend-icon> -->
            <template #prependIcon>
              <v-badge v-if="item.flag != null" overlap color="red">
                <template v-slot:badge>
                  <span>!</span>
                </template>
                <v-icon>{{ item.icon }}</v-icon>
              </v-badge>
              <v-icon v-else>{{ item.icon }}</v-icon>
            </template>
            <template v-slot:activator>
              <v-list-item-title>
                {{ item.title }}
                <!-- <v-chip
                  v-if="item.flag != null"
                  class="ma-2 white--text"
                  color="red"
                  x-small
                >
                  {{ item.flag }}
                </v-chip> -->
              </v-list-item-title>
            </template>
            <v-list-item
              v-for="subitem in item.subitems"
              :key="subitem.title"
              @click="route(subitem.route)"
              :class="subitem.route === $route.path ? 'menu-active' : ''"
            >
              <v-list-item-title>
                <v-badge v-if="item.flag != null" left overlap color="red">
                  <template v-slot:badge>
                    <span>!</span>
                  </template>
                  <span>{{ subitem.title }}</span>
                </v-badge>
                <span v-else>{{ subitem.title }}</span>
                <!-- <v-chip
                  v-if="subitem.flag != null"
                  class="ma-2 white--text"
                  color="red"
                  x-small
                >
                  {{ subitem.flag }}
                </v-chip> -->
              </v-list-item-title>
            </v-list-item>
          </v-list-group>

          <v-list-item
            v-else
            :key="item.title"
            :class="
              item.route === $route.path ? 'left-menu menu-active' : 'left-menu'
            "
            @click="route(item.route)"
          >
            <v-list-item-icon>
              <v-badge v-if="item.flag != null" overlap color="red">
                <template v-slot:badge>
                  <span>!</span>
                </template>
                <v-icon>{{ item.icon }}</v-icon>
              </v-badge>
              <v-icon v-else>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              {{ item.title }}
              <!-- <v-chip
                v-if="item.flag != null"
                class="ma-2 white--text"
                color="red"
                x-small
              >
                {{ item.flag }}
              </v-chip> -->
            </v-list-item-title>
          </v-list-item>
        </template>
      </v-list>
      <v-divider class="mx-2 left-menu" />
    </v-navigation-drawer>

    <v-app-bar app clipped-left short elevate-on-scroll color="#399bff">
      <div class="logo-container" @click.stop="model = !model">
        <v-app-bar-nav-icon class="ma-1 mb-2" color="white" />
        CHIA TAI
      </div>
      <v-spacer />

      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on" height="56">
            <v-avatar color="orange" size="48">
              <span class="white--text headline">{{ avatar }}</span>
            </v-avatar>
            <span class="avatar-title"> {{ username }} </span>
            <v-icon color="white" size="20">
              arrow_drop_down
            </v-icon>
          </v-btn>
        </template>

        <v-card tile>
          <v-list>
            <v-subheader>Profile</v-subheader>
            <v-list-item-group color="primary">
              <v-list-item no-actions @click="onLogout">
                <v-list-item-content>
                  <v-list-item-title>Logout</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  mounted() {
    if (
      localStorage.getItem('loginToken') != null &&
      localStorage.getItem('loginToken') != 'null'
    ) {
      this.$store.dispatch('getMenu')
    } else {
      console.log('LOGIN BEFORE GET MENUS')
    }
  },
  computed: {
    navigationDrawer() {
      return this.$store.state.menu
    },
    username() {
      if (
        localStorage.getItem('firstName') &&
        localStorage.getItem('lastName')
      ) {
        return (
          localStorage.getItem('firstName') +
          ' ' +
          localStorage.getItem('lastName')
        )
      } else {
        return this.$store.state.userdata.name
      }
    },
    avatar() {
      if (
        localStorage.getItem('firstName') &&
        localStorage.getItem('lastName')
      ) {
        return (
          localStorage.getItem('firstName').substr(0, 1) +
          localStorage.getItem('lastName').substr(0, 1)
        )
      } else {
        return this.$store.state.userdata.avatar
      }
    }
  },
  data() {
    return {
      model: true
    }
  },
  methods: {
    route(route) {
      // console.log(route)
      this.$store.commit('CLEAR_TABLE_RESULT')
      this.$router.push(route)
    },
    onLogout() {
      localStorage.clear()
      this.$router.push('/login')
    }
  }
}
</script>
