<template>
  <div>
    <div class="mb-1">
      {{ title }} <span v-if="required" class="red--text">*</span>
    </div>
    <v-select
      :items="items"
      :item-text="itemText"
      :item-value="itemValue"
      :value="value"
      :class="mode"
      :required="required"
      outlined
      hide-details
      single-line
      @change="onChange"
    />
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: 'Title'
    },
    items: {
      type: Array,
      default: function() {
        return []
      }
    },
    itemText: {
      type: String,
      default: 'text'
    },
    itemValue: {
      type: String,
      default: 'value'
    },
    required: {
      type: Boolean,
      default: false
    },
    value: {
      default: 0
    }
  },
  methods: {
    onChange(data) {
      this.$emit('input', data)
    }
  }
}
</script>
