<template>
  <div>
    <div class="mb-1">
      {{ title }} <span v-if="required" class="red--text">*</span>
    </div>
    <v-text-field
      :value="value"
      :type="type"
      :class="mode"
      :required="required"
      :rules="rules"
      outlined
      hide-details
      single-line
      @click="onClick"
      @blur="onBlur"
    />
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: 'Title'
    },
    type: {
      type: String,
      default: 'text'
    },
    required: {
      type: Boolean,
      default: false
    },
    value: {
      default: ''
    }
  },
  computed: {
    rules() {
      if (this.required) {
        return [v => !!v || 'This is required field.']
      } else {
        return []
      }
    }
  },
  methods: {
    onClick() {
      if (this.type == 'number' && this.value == 0) {
        event.target.value = ''
      }
    },
    onBlur() {
      if (this.type == 'number' && event.target.value == '') {
        event.target.value = 0
      }
      this.$emit('input', event.target.value)
    }
  }
}
</script>
