<template>
  <div>
    <div :class="`mt-2 mb-1 caption font-weight-bold text-${align}`">
      {{ title }}
    </div>
    <div :class="`text-${align}`" v-html="text"></div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    text: {
      default: 'text'
    },
    align: {
      type: String,
      default: 'left'
    }
  }
}
</script>
