<template>
  <div>
    <div v-if="title" class="mb-1">
      {{ title }}
      <span v-if="required" class="red--text">*</span>
    </div>
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      full-width
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          :value="value"
          :class="mode"
          v-on="on"
          prepend-inner-icon="event"
          readonly
          outlined
          hide-details
          single-line
        />
      </template>
      <v-date-picker
        :value="value"
        no-title
        scrollable
        :allowed-dates="allowedDates"
        @input="menu = false"
        @change="onChange"
      >
        <v-spacer />
        <v-btn text color="primary" @click="onChange('')">Clear</v-btn>
        <v-btn text color="primary" @click="onChange('today')">Today</v-btn>
      </v-date-picker>
    </v-menu>
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    thruDate: {
      type: String,
      default: ''
    },
    value: {
      default: new Date().toISOString().substr(0, 10)
    }
  },
  data() {
    return {
      menu: false,
      today: new Date().toISOString().substr(0, 10)
    }
  },
  methods: {
    onChange(data) {
      // this.data = data
      if (data === 'today') data = this.today
      this.$emit('input', data)
    },
    allowedDates(val) {
      if (this.thruDate.length > 0) {
        return new Date(val) >= new Date(this.thruDate)
      }
      return true
    }
  }
}
</script>
