<template>
  <v-card class="ma-5 pa-5" outlined>
    <div class="custom-title">ข้อมูลที่เลือก</div>
    <v-container>
      <v-row>
        <v-col class="pa-2" cols="12" md="1">
          <base-display title="นำเข้า - ส่งออก" :text="dataSearch.transport" />
        </v-col>
        <v-col class="pa-2" cols="12" md="1">
          <base-display
            title="เรือ - เครื่องบิน"
            :text="dataSearch.transportType"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="ประเทศต้นทาง"
            :text="dataSearch.fromCountry"
            align="center"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            :title="`${port}ต้นทาง`"
            :text="dataSearch.fromCountryLocation"
            align="center"
          />
        </v-col>
        <v-col class="pt-4 text-center" cols="12" md="1">
          <v-icon v-if="dataSearch.transportType == 'AIR'" color="info">
            airplanemode_active
          </v-icon>
          <v-icon v-else color="info">directions_boat</v-icon>
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="ประเทศปลายทาง"
            :text="dataSearch.toCountry"
            align="center"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            :title="`${port}ปลายทาง`"
            :text="dataSearch.toCountryLocation"
            align="center"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="ช่วงวันที่"
            :text="`${dataSearch.fromDate} - ${dataSearch.toDate}`"
          />
        </v-col>
        <!-- <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="ถึงวันที่"
            :text="dataSearch.toDate"
          />
        </v-col> -->
        <v-col
          v-if="dataSearch.transportType == 'SEA'"
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display
            title="ประเภท Container load"
            :text="dataSearch.shipment"
          />
        </v-col>
        <v-col
          v-if="
            dataSearch.transportType == 'SEA' && dataSearch.shipment == 'FCL'
          "
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display
            title="ขนาดตู้ กxยxส (เมตร)"
            :text="dataSearch.container"
          />
        </v-col>
        <v-col
          v-if="
            dataSearch.transportType == 'SEA' && dataSearch.shipment == 'FCL'
          "
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display title="จำนวน (ตู้)" :text="dataSearch.containerNo" />
        </v-col>
        <v-col v-if="page == 'calc'" class="pa-2" cols="12" md="2">
          <base-display
            :title="`Volumn (${weightUnit})`"
            :text="dataSearch.weight"
          />
        </v-col>
        <v-col v-if="page == 'calc'" class="pa-2" cols="12" md="2">
          <base-display title="จำนวนรายการ" :text="dataSearch.productTypeQty" />
        </v-col>
      </v-row>
    </v-container>
    <!-- <pre>
      {{ dataSearch }}
    </pre> -->
  </v-card>
</template>

<script>
export default {
  props: ['props'],
  mounted() {
    if (!this.dataSearch.transportType) {
      this.$router.push('/calculator')
    } else {
      if (this.$route.params.type == 'air') {
        this.port = 'สนามบิน'
        this.weightUnit = 'น้ำหนัก'
      } else {
        this.port = 'ท่าเรือ'
        this.weightUnit = 'CBM'
      }
    }
  },
  data() {
    return {
      port: '',
      weightUnit: ''
    }
  },
  computed: {
    dataSearch() {
      return this.$store.state.dataSearch
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
