<template>
  <v-card class=" pa-5" outlined>
    <v-row>
      <v-col col="6">
        <div class="custom-title">รายละเอียด</div>
      </v-col>
      <v-col v-if="$route.params.type == 'sea'" col="6">
        <v-row justify="end">
          <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
              <v-btn color="info" v-on="on">
                <v-icon>mdi-file-document-box-outline</v-icon>
                เพิ่ม Invoice
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="py-2" style="font-size:24px">ใส่ Invoice</span>
              </v-card-title>
              <v-divider />
              <v-card-text class="pb-0">
                <v-container>
                  <v-row>
                    <v-col cols="12" class="pa-1">
                      <v-row>
                        <v-col cols="4" class="pa-1">
                          <div class="pt-3 pl-2" style="font-size:16px">
                            ใส่เลข Invoice
                          </div>
                        </v-col>
                        <v-col cols="8" class="pa-1">
                          <v-text-field
                            class="dense"
                            outlined
                            single-line
                            hide-details
                          />
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="12" class="pa-1">
                      <v-row>
                        <v-col cols="4" class="pa-1">
                          <div class=" pt-3 pl-2" style="font-size:16px">
                            บันทึกช่วยจำ
                          </div>
                        </v-col>
                        <v-col cols="8" class="pa-1">
                          <v-textarea
                            class="dense"
                            outlined
                            hide-details
                            no-resize
                          />
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn
                  outlined
                  large
                  color="grey darken-3"
                  @click="dialog = false"
                  >ยกเลิก</v-btn
                >
                <v-btn
                  color="blue darken-1"
                  depressed
                  large
                  dark
                  @click="dialog = false"
                  >บันทึก</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
    </v-row>

    <v-container>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display title="ชื่อ Agent" :text="dataResultHeader.agentName" />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display
            title="ประเทศต้นทาง"
            :text="dataResultHeader.fromCountry"
          />
        </v-col>
        <!-- <v-col class="pa-2" cols="4">
          <base-display
            title="ชื่อเมืองต้นทาง"
            :text="dataResultHeader.fromLocation"
          />
        </v-col> -->
        <v-col class="pa-2" cols="4">
          <base-display
            :title="`${port}ต้นทาง`"
            :text="dataResultHeader.fromLocation"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display
            title="ประเทศปลายทาง"
            :text="dataResultHeader.toCountry"
          />
        </v-col>
        <!-- <v-col class="pa-2" cols="4">
          <base-display
            title="ชื่อเมืองปลายทาง"
            :text="dataResultHeader.toLocation"
          />
        </v-col> -->
        <v-col class="pa-2" cols="4">
          <base-display
            :title="`${port}ปลายทาง`"
            :text="dataResultHeader.toLocation"
          />
        </v-col>
      </v-row>
      <div v-if="$route.params.type == 'air'">
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display title="ช่วงวันที่" :text="date" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display title="เวลาต้นทาง" :text="dataResultHeader.etd" />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="เวลาปลายทาง" :text="dataResultHeader.eta" />
          </v-col>
          <v-col class="pa-2" cols="4">
            <div class="mb-1">Day</div>
            <div>
              <v-chip
                v-for="day in days"
                :key="day.text"
                class="font-weight-bold mr-1"
                :color="day.class"
                label
                x-small
                dark
              >
                {{ day.text }}
              </v-chip>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Direct / Transitship"
              :text="dataResultHeader.tranship"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="Carrier" :text="dataResultHeader.carrer" />
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Cut off"
              :text="dataResultHeader.cutoff || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="ETD" :text="dataResultHeader.etd || '-'" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Direct / Transitship"
              :text="dataResultHeader.tranship || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display
              title="ประเภท Container load"
              :text="dataResultHeader.shipment || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display
              title="ขนาดตู้ กxสxย (เมตร)"
              :text="dataResultHeader.container || '-'"
            />
          </v-col>
        </v-row>
      </div>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display title="Note" text="" />
        </v-col>
      </v-row>
    </v-container>
    <!-- <pre>
    {{ dataResultHeader }}
    </pre> -->
  </v-card>
</template>

<script>
import moment from 'moment'

export default {
  mounted() {
    this.$store.dispatch('getResultHeader', this.$route.params.id)
    if (this.$route.params.type == 'air') {
      this.port = 'สนามบิน'
    } else {
      this.port = 'ท่าเรือ - เมืองต้นทาง'
    }
  },
  data() {
    return {
      dialog: false,
      port: ''
    }
  },
  computed: {
    date() {
      return (
        moment(this.dataResultHeader.startDate).format('DD MMM YY') +
        ' - ' +
        moment(this.dataResultHeader.endDate).format('DD MMM YY')
      )
    },
    days() {
      let days = []
      if (this.dataResultHeader.daily) {
        days.push({ text: 'Daily', class: 'green' })
      } else {
        if (this.dataResultHeader.sun) days.push({ text: 'S', class: 'red' })
        if (this.dataResultHeader.mon)
          days.push({ text: 'M', class: 'yellow darken-1' })
        if (this.dataResultHeader.tue) days.push({ text: 'T', class: 'pink' })
        if (this.dataResultHeader.wed) days.push({ text: 'W', class: 'green' })
        if (this.dataResultHeader.thu)
          days.push({ text: 'Th', class: 'orange' })
        if (this.dataResultHeader.fri)
          days.push({ text: 'F', class: 'light-blue' })
        if (this.dataResultHeader.sat)
          days.push({ text: 'Sa', class: 'deep-purple' })
      }
      return days
    },
    dataResultHeader() {
      return this.$store.state.dataResultHeader
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
