<template>
  <v-card class="pa-5 mb-12" outlined>
    <v-row>
      <v-col>
        <div class="custom-title">Detail</div>
      </v-col>
      <v-col cols="auto">
        <v-row>
          <div class="px-2">
            <div class="caption font-weight-bold">
              Invoice
            </div>
            <div class="title font-weight-bold">
              {{ dataResultHeader.invoice || 'No Invoice' }}
              <v-btn
                text
                outlined
                small
                class="ml-3"
                color="grey darken-2"
                @click="dialog = true"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </div>
          </div>
        </v-row>
        <v-row>
          <div class="px-2">
            <div class="caption font-weight-bold">
              Create User
            </div>
            <div class="pt-1">
              {{ dataSearch.createUser || 'No Creator Info' }}
            </div>
          </div>
        </v-row>
      </v-col>
    </v-row>

    <v-container>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display title="Agent Name" :text="dataResultHeader.agentName" />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display
            title="Departure Country"
            :text="dataResultHeader.fromCountry"
          />
        </v-col>
        <v-col class="pa-2" cols="4">
          <base-display
            :title="`Departure ${port}`"
            :text="dataResultHeader.fromLocation"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display
            title="Arrive Country"
            :text="dataResultHeader.toCountry"
          />
        </v-col>
        <v-col class="pa-2" cols="4">
          <base-display
            :title="`Arrive ${port}`"
            :text="dataResultHeader.toLocation"
          />
        </v-col>
      </v-row>
      <div v-if="$route.params.type == 'air'">
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display title="Date" :text="date" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display title="Departure Time" :text="dataResultHeader.etd" />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="Arrive Time" :text="dataResultHeader.eta" />
          </v-col>
          <v-col class="pa-2" cols="4">
            <div class="mb-1">Day</div>
            <div>
              <v-chip
                v-for="day in days"
                :key="day.text"
                class="font-weight-bold mr-1"
                :color="day.class"
                label
                x-small
                dark
              >
                {{ day.text }}
              </v-chip>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Direct / Transitship"
              :text="dataResultHeader.tranship"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="Carrier" :text="dataResultHeader.carrer" />
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Cut off"
              :text="dataResultHeader.cutoff || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display title="ETD" :text="dataResultHeader.etd || '-'" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Direct / Transitship"
              :text="dataResultHeader.tranship || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Container Load Type"
              :text="dataResultHeader.shipment || '-'"
            />
          </v-col>
        </v-row>
        <v-row v-if="dataResultHeader.shipment == 'FCL'">
          <v-col class="pa-2" cols="4">
            <base-display
              title="Container Size"
              :text="dataResultHeader.container || '-'"
            />
          </v-col>
          <v-col class="pa-2" cols="4">
            <base-display
              title="Container Quantity"
              :text="dataResultHeader.containerNo || '-'"
            />
          </v-col>
        </v-row>
      </div>
      <v-row>
        <v-col class="pa-2" cols="4">
          <base-display title="Note" :text="dataResultHeader.note" />
        </v-col>
      </v-row>
    </v-container>

    <!-- DIALOGS -->
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="py-2" style="font-size:24px">Invoice</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pb-0">
          <v-container>
            <v-row>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class="pt-3 pl-2" style="font-size:16px">
                      Invoice No.
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-text-field
                      v-model="invoice"
                      class="dense"
                      outlined
                      single-line
                      hide-details
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class="pt-3 pl-2" style="font-size:16px">
                      Customer Name
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-text-field
                      v-model="customerName"
                      class="dense"
                      outlined
                      single-line
                      hide-details
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" class="pa-1">
                <v-row>
                  <v-col cols="4" class="pa-1">
                    <div class=" pt-3 pl-2" style="font-size:16px">
                      Memo
                    </div>
                  </v-col>
                  <v-col cols="8" class="pa-1">
                    <v-textarea
                      v-model="note"
                      class="dense"
                      outlined
                      hide-details
                      no-resize
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn outlined large color="grey darken-3" @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            depressed
            large
            dark
            @click="onSaveInvoice"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import moment from 'moment'

export default {
  props: ['page'],
  data() {
    return {
      dialog: false,
      invoice: '',
      customerName: '',
      note: ''
    }
  },
  computed: {
    port() {
      if (this.$route.params.type == 'air') {
        return 'Airport'
      } else {
        return 'Dock'
      }
    },
    date() {
      return (
        moment(this.dataResultHeader.startDate).format('DD MMM YY') +
        ' - ' +
        moment(this.dataResultHeader.endDate).format('DD MMM YY')
      )
    },
    days() {
      let days = []
      if (this.dataResultHeader.daily) {
        days.push({ text: 'Daily', class: 'green' })
      } else {
        if (this.dataResultHeader.sun) days.push({ text: 'S', class: 'red' })
        if (this.dataResultHeader.mon)
          days.push({ text: 'M', class: 'yellow darken-1' })
        if (this.dataResultHeader.tue) days.push({ text: 'T', class: 'pink' })
        if (this.dataResultHeader.wed) days.push({ text: 'W', class: 'green' })
        if (this.dataResultHeader.thu)
          days.push({ text: 'Th', class: 'orange' })
        if (this.dataResultHeader.fri)
          days.push({ text: 'F', class: 'light-blue' })
        if (this.dataResultHeader.sat)
          days.push({ text: 'Sa', class: 'deep-purple' })
      }
      return days
    },
    dataSearch() {
      return this.$store.state.dataSearch
    },
    dataResultHeader() {
      return this.$store.state.dataResultHeader
    }
  },
  watch: {
    dataResultHeader(newData) {
      if (newData.invoice != undefined) this.invoice = newData.invoice
      if (newData.customerName != undefined)
        this.customerName = newData.customerName
      if (newData.note != undefined) this.note = newData.note
    }
  },
  methods: {
    onSaveInvoice() {
      this.$store
        .dispatch('postInvoice', {
          resultHeaderId: this.$route.params.id,
          invoice: this.invoice,
          customerName: this.customerName,
          note: this.note
        })
        .then(() => {
          this.dialog = false
        })
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
