<template>
  <v-card class="ma-5 pa-5" outlined>
    <div class="custom-title">Search Data</div>
    <v-container>
      <v-row>
        <v-col class="pa-2" cols="12" md="1">
          <base-display title="Import/Export" :text="dataSearch.transport" />
        </v-col>
        <v-col class="pa-2" cols="12" md="1">
          <base-display title="Sea/Airplane" :text="dataSearch.transportType" />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="Departure Country"
            :text="dataSearch.fromCountry"
            align="center"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            :title="`Departure ${port}`"
            :text="dataSearch.fromCountryLocation"
            align="center"
          />
        </v-col>
        <v-col class="pt-4 text-center" cols="12" md="1">
          <v-icon v-if="dataSearch.transportType == 'AIR'" color="info">
            airplanemode_active
          </v-icon>
          <v-icon v-else color="info">directions_boat</v-icon>
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="Arrive Country"
            :text="dataSearch.toCountry"
            align="center"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            :title="`Arrive ${port}`"
            :text="dataSearch.toCountryLocation"
            align="center"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="Date"
            :text="`${dataSearch.fromDate} - ${dataSearch.toDate}`"
          />
        </v-col>
        <!-- <v-col class="pa-2" cols="12" md="2">
          <base-display
            title="ถึงวันที่"
            :text="dataSearch.toDate"
          />
        </v-col> -->
        <v-col
          v-if="dataSearch.transportType == 'SEA'"
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display
            title="Container Load Type"
            :text="dataResultHeader.shipment"
          />
        </v-col>
        <v-col
          v-if="
            dataSearch.transportType == 'SEA' &&
              dataResultHeader.shipment == 'FCL'
          "
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display
            title="Container Size"
            :text="dataResultHeader.container"
          />
        </v-col>
        <v-col
          v-if="
            dataSearch.transportType == 'SEA' &&
              dataResultHeader.shipment == 'FCL'
          "
          class="pa-2"
          cols="12"
          md="2"
        >
          <base-display
            title="Container Quantity"
            :text="dataResultHeader.containerNo"
          />
        </v-col>
        <v-col class="pa-2" cols="12" md="2">
          <base-display
            :title="`Volumn (${weightUnit})`"
            :text="dataResultHeader.weight"
          />
        </v-col>
        <v-col v-if="page == 'calc'" class="pa-2" cols="12" md="2">
          <base-display title="Quantity" :text="dataSearch.productTypeQty" />
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: ['page'],
  mounted() {
    if (!this.dataSearch.transportType) {
      let route = this.redirect.filter(item => {
        return this.$route.name == item.routeName
      })
      if (route.length > 0) {
        this.$router.push(route[0].to)
      } else {
        this.$router.push('/home')
      }
    } else {
      if (this.$route.params.type == 'air') {
        this.port = 'Airport'
        this.weightUnit = 'Weight'
      } else {
        this.port = 'Dock'
        this.weightUnit = 'CBM'
      }
    }
  },
  data() {
    return {
      redirect: [
        {
          routeName: 'historyDetail',
          to: '/history'
        },
        {
          routeName: 'calculateDetail',
          to: '/calculator'
        }
      ],
      port: '',
      weightUnit: ''
    }
  },
  computed: {
    dataSearch() {
      return this.$store.state.dataSearch
    },
    dataResultHeader() {
      return this.$store.state.dataResultHeader
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
