<template>
  <v-card class="pa-5 mb-12" outlined>
    <v-row>
      <v-col>
        <v-select
          v-model="exc"
          :items="exchangeRate"
          label="Currency"
          hide-details
          outlined
        />
      </v-col>
      <v-col>
        <div class="mb-2 text-right">
          <div class="d-inline-block">
            <div class="caption text-left font-weight-bold">
              Total Cost
            </div>
            <div class="title font-weight-bold green--text">
              {{ totalAmount }}
            </div>
            <div class="font-weight-bold green--text">
              {{ totalOtherAmount }}
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-divider />
    <v-row>
      <v-col>
        <div class="title font-weight-bold">
          Cost Detail
        </div>
      </v-col>

      <v-col v-if="page == 'calc'" class="text-right">
        <v-btn v-if="!edit" outlined color="grey darken-3" @click="onEdit">
          <v-icon>mdi-square-edit-outline</v-icon>
          Edit
        </v-btn>
        <v-btn v-else color="info" @click="onSave">
          <v-icon>save</v-icon>
          Save
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table
      v-if="!edit"
      :headers="headers"
      :items="dataResultDetail"
      :items-per-page="-1"
      hide-default-footer
    >
      <template v-slot:item="props">
        <tr>
          <td class="text-start">{{ props.index + 1 }}</td>
          <td class="text-start">{{ props.item.description }}</td>
          <td class="text-start">
            <div class="font-weight-bold">
              {{ props.item.amount | currency }} {{ props.item.currency }}
            </div>
            <div class="caption font-weight-bold">
              {{ (props.item.amount / excRate) | currency }}
              {{ excText }}
            </div>
          </td>
        </tr>
      </template>
    </v-data-table>
    <div v-if="page == 'calc' && edit">
      <v-data-table
        :headers="headers_edit"
        :items="items"
        :items-per-page="-1"
        hide-default-footer
      >
        <template v-slot:item="props">
          <tr v-if="props.item.action != 'delete'">
            <td class="text-start" style="width:60px">
              {{ tempDeleteItems(props.index) }}
            </td>
            <td class="text-start">
              <input
                v-if="isEditable(props.item)"
                type="text"
                v-model="props.item.description"
                class="custom-text-field outlined"
              />
              <span v-else>
                {{ props.item.description }}
              </span>
            </td>
            <td class="text-start" style="width:100px">
              <input
                v-if="isEditable(props.item)"
                type="text"
                v-model="props.item.amount"
                class="custom-text-field small outlined text-center"
                size="8"
              />
              <div v-else class="text-center">{{ props.item.amount }}</div>
            </td>
            <td class="text-start" style="width:140px">
              <div v-if="!isJustCreated(props.item)">
                <div class="font-weight-bold">
                  {{ props.item.otherAmount + ' ' + props.item.otherCurrency }}
                </div>
                <div class="caption font-weight-bold">
                  {{ props.item.amount + ' ' + props.item.currency }}
                </div>
              </div>
            </td>
            <td>
              <v-btn v-if="isEditable(props.item)" depressed fab small>
                <v-icon
                  text
                  color="grey darken-3"
                  @click="removeItem(props.index)"
                  >delete_forever</v-icon
                >
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
      <div class="text-right">
        <v-btn text color="info" @click="onAddItem">+ Add</v-btn>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ['page'],
  created() {
    let e = this.$store.state.exchangeRate
    if (e.length > 0) {
      let r = e.find(item => {
        return item.currencyCode == 'USD'
      })
      if (r) {
        this.excRate = r.rate
        this.excText = r.currencyCode
      }
    }
  },
  data() {
    return {
      exc: 0,
      excRate: 0,
      excText: '',
      edit: false,
      items: [],
      headers: [
        { text: '#', sortable: false, value: 'number' },
        { text: 'Description', sortable: false, value: 'description' },
        {
          text: 'Price (including VAT 7%)',
          sortable: false,
          value: 'calculate'
        }
      ],
      headers_edit: [
        { text: '#', sortable: false, value: 'number' },
        { text: 'Description', sortable: false, value: 'description' },
        { text: 'Price', sortable: false, align: 'center', value: 'amount' },
        {
          text: 'Price (including VAT 7%)',
          sortable: false,
          value: 'calculate'
        },
        { text: '', sortable: false, value: 'manage' }
      ]
    }
  },
  computed: {
    dataResultHeader() {
      return this.$store.state.dataResultHeader
    },
    dataResultDetail() {
      return this.$store.state.dataResultDetail
    },
    exchangeRate() {
      return this.$store.state.exchangeRate.map((item, index) => {
        return { text: item.currencyCode, value: index, rate: item.rate }
      })
    },
    totalAmount() {
      return (
        this.$options.filters.currency(this.dataResultHeader.amount) +
        ' ' +
        this.dataResultHeader.currency
      )
    },
    totalOtherAmount() {
      return (
        this.$options.filters.currency(
          this.dataResultHeader.amount / this.excRate
        ) +
        ' ' +
        this.excText
      )
    }
  },
  watch: {
    exc() {
      let r = this.exchangeRate.find(item => {
        return item.value == this.exc
      })
      this.excRate = r.rate
      this.excText = r.text
      this.$forceUpdate()
    }
  },
  methods: {
    onEdit() {
      this.edit = true
      this.items = this.dataResultDetail
    },
    tempDeleteItems(itemIndex) {
      let deletedItem = this.items.filter((item, index) => {
        if (index > itemIndex) {
          return false
        } else {
          return item.action == 'delete'
        }
      }).length
      return itemIndex - deletedItem + 1
    },
    onAddItem() {
      this.items.push({
        resultHeaderId: this.$route.params.id,
        description: '',
        amount: 0,
        edit: true,
        action: 'create'
      })
    },
    removeItem(id) {
      let i = this.items[id]
      if (i.action != 'create') {
        i.action = 'delete'
      } else {
        this.items.splice(id, 1)
      }
    },
    onSave() {
      this.items = this.items.filter(item => {
        return item.description != '' && item.amount != 0 && item.edit == true
      })

      this.items = this.items.map(item => {
        item.calculate = item.amount
        if (item.edit && !item.action) {
          item.action = 'edit'
          item.otherAmount =
            parseFloat(item.amount) / parseFloat(item.exchangeRate)
        }
        return item
      })

      if (Array.isArray(this.items) && this.items.length) {
        this.$store.dispatch('postResultDetail', this.items).then(() => {
          this.$store.dispatch('getResultHeader', this.$route.params.id)
        })
      }
      this.edit = false
    },
    isEditable(item) {
      return item.edit || item.action == 'create'
    },
    isJustCreated(item) {
      return item.action == 'create'
    },
    numberWithCommas(x) {
      if (x) return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return 0
    }
  }
}
</script>

<style scoped>
.custom-text-field {
  background-color: #fff;
  padding: 4px 8px;
}
.outlined {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 4px;
}
</style>
