<template>
  <v-row>
    <v-col cols="4" class="pa-1">
      <div class="pt-3 pl-2" style="font-size:16px">
        {{ title }}
      </div>
    </v-col>
    <v-col cols="8" class="pa-1">
      <v-select
        :items="items"
        :value="value"
        class="dense"
        outlined
        hide-details
        single-line
        @change="onChange"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    items: {
      type: Array,
      default: function() {
        return []
      }
    },
    value: {}
  },
  methods: {
    onChange(data) {
      this.$emit('input', data)
    }
  }
}
</script>
