<template>
  <v-row>
    <v-col cols="4" class="pa-1">
      <div class="pt-3 pl-2" style="font-size:16px">
        {{ title }}
      </div>
    </v-col>
    <v-col cols="8" class="pa-1">
      <v-text-field
        :value="value"
        :type="type"
        class="dense"
        outlined
        hide-details
        single-line
        @blur="onBlur"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    type: {
      type: String,
      default: 'text'
    },
    value: {
      default: ''
    }
  },
  methods: {
    onBlur() {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
