<template>
  <v-card>
    <v-row>
      <v-col>
        <div class="custom-title">
          {{ title }}
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="auto">
        <v-btn text outlined @click="$emit('onPrev')">Previous</v-btn>
      </v-col>
      <v-col></v-col>
      <v-col cols="auto">
        <v-btn text outlined to="/expense">Cancel</v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn color="info" @click="onNext">
          Finish
        </v-btn>
      </v-col>
    </v-row>
    <v-container>
      <v-row>
        <v-col> </v-col>
        <v-col class="text-right py-0" cols="auto">
          <v-text-field
            v-model="search"
            append-icon="search"
            single-line
            outlined
            rounded
            hide-details
          />
        </v-col>
      </v-row>
      <v-data-table
        v-model="selected"
        :headers="agentHeader"
        :items="agentList"
        :search="search"
        item-key="agentId"
        show-select
      >
        <template v-slot:item.status="{ item }">
          <v-chip
            v-if="item.status"
            class="font-weight-bold"
            color="green"
            small
            label
            dark
          >
            Active
          </v-chip>
          <v-chip v-else class="font-weight-bold" color="red" small label dark>
            In-Active
          </v-chip>
        </template>
      </v-data-table>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      default: 'Assign agents'
    }
  },
  data() {
    return {
      search: '',
      agentHeader: [
        { text: '', value: 'select' },
        { text: 'ID', value: 'agentId' },
        { text: 'Agent Name', value: 'agentName' },
        { text: 'Status', value: 'status' }
      ],
      selected: []
    }
  },
  computed: {
    agentList() {
      return this.$store.state.agents
    }
  },
  methods: {
    onNext() {
      if (this.$store.state.expenseName.length > 0) {
        let e = this.$store.state.expenseName[0]

        let body = this.agentList.map(item => {
          let h = this.selected.find(i => {
            return i.agentId == item.agentId
          })
          return {
            expenseNameId: e.id,
            agentId: item.agentId,
            agentName: item.agentName,
            agentDesctiption: item.agentDescription,
            agentSelect: !h ? false : true
          }
        })
        this.$store.dispatch('putExpenseAgent', body).then(() => {
          this.$emit('onNext', 3)
        })
      }
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
