<template>
  <v-card>
    <v-row>
      <v-col>
        <div class="custom-title">
          {{ title }}
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col cols="auto">
        <v-btn text outlined to="/expense">Cancel</v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn color="info" @click="onNext" :disabled="!formValid">
          Continue
        </v-btn>
      </v-col>
    </v-row>
    <v-container>
      <v-form v-model="formValid">
        <v-row>
          <v-col class="pa-2" cols="12" md="4">
            <base-text-field
              v-model="formData.expense"
              title="Expense name"
              :required="true"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="12" md="4">
            <base-select
              v-model="formData.transportId"
              title="Import/Export"
              :items="transportList"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="12" md="4">
            <base-select
              v-model="formData.transportTypeId"
              title="Sea/Airplane"
              :items="transportTypeList"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="12" md="4">
            <base-text-field v-model="formData.memo" title="Memo" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-2" cols="12" md="4">
            <base-select
              v-model="formData.status"
              title="Status"
              :items="statusList"
            />
          </v-col>
        </v-row>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      default: 'Create expense name'
    }
  },
  data() {
    return {
      formValid: false,
      formData: {
        expense: '',
        transportId: 1,
        transportTypeId: 1,
        status: true,
        memo: ''
      },
      statusList: [
        { text: 'Active', value: true },
        { text: 'In-Active', value: false }
      ]
    }
  },
  computed: {
    transportList() {
      return this.$store.state.transport
        .filter(item => {
          return item.transportId > 0
        })
        .map(item => {
          return { text: item.transportDesc, value: item.transportId }
        })
    },
    transportTypeList() {
      return this.$store.state.transportType
        .filter(item => {
          return item.transportTypeId > 0
        })
        .map(item => {
          return { text: item.transportTypeDesc, value: item.transportTypeId }
        })
    }
  },
  mounted() {
    this.$store.dispatch('getTransport')
    this.$store.dispatch('getTransportType')
  },
  methods: {
    onNext() {
      this.$store.dispatch('postExpenseName', this.formData).then(() => {
        if (this.$store.state.expenseName.length > 0) {
          let e = this.$store.state.expenseName[0]
          this.$store.dispatch('getExpenseDetail', e.id)
          this.$store.dispatch('getAgent', [
            this.formData.transportId,
            this.formData.transportTypeId
          ])
          this.$emit('onNext', 1)
        } else {
          this.$router.push('/expense')
        }
      })
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
