<template>
  <v-card>
    <v-row>
      <v-col>
        <div class="custom-title">
          {{ title }}
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="auto">
        <v-btn text outlined @click="$emit('onPrev')">Previous</v-btn>
      </v-col>
      <v-col></v-col>
      <v-col cols="auto">
        <v-btn text outlined to="/expense">Cancel</v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn color="info" @click="onNext">
          Continue
        </v-btn>
      </v-col>
    </v-row>
    <v-container>
      <v-data-table
        :headers="expenseDetailHeader"
        :items="expenseDetailList"
        :items-per-page="-1"
        hide-default-footer
      >
        <template v-slot:item="props">
          <tr>
            <td class="text-start" style="width:60px">
              {{ props.index + 1 }}
            </td>
            <td class="text-start">
              {{ props.item.expenseCode }}
            </td>
            <td class="text-start">
              {{ props.item.expenseDescription }}
            </td>
            <td style="width:100px">
              <v-checkbox v-model="props.item.agentView" />
            </td>
            <td style="width:100px">
              <v-checkbox v-model="props.item.use" />
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      default: 'Manage expense'
    }
  },
  data() {
    return {
      expenseDetailHeader: [
        { text: '#', sortable: false, value: 'number' },
        { text: 'Code', sortable: false, value: 'expenseCode' },
        { text: 'Description', sortable: false, value: 'expenseDescription' },
        { text: 'Agent See', sortable: false, value: 'agentView' },
        { text: 'Agent Use', sortable: false, value: 'use' }
      ]
    }
  },
  computed: {
    expenseDetailList() {
      return this.$store.state.expenseDetail
    }
  },
  methods: {
    onNext() {
      this.$store.dispatch('putExpenseDetail', this.expenseDetailList)
      this.$emit('onNext', 2)
    }
  }
}
</script>

<style scoped>
div.custom-title {
  font-size: 24px;
}
</style>
