<template>
  <div class="d-none d-print-block">
    <div style="page-break-after: always">
      <v-card style="margin-bottom:8px" outlined>
        <v-container>
          <div style="font-size:20px;font-weight:bold">
            {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
          <div>
            คำนวนค่านำเข้า-ส่งออก / {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
        </v-container>
      </v-card>

      <v-card style="margin-bottom:8px" outlined>
        <v-container>
          <div style="font-size:18px; font-weight:bold; margin-bottom:8px">
            ข้อมูลที่เลือก
          </div>
          <div style="margin-bottom:8px">
            <div style="display:inline-block; margin-right:24px">
              <base-display
                title="นำเข้า - ส่งออก"
                :text="dataSearch.transport"
              />
            </div>
            <div style="display:inline-block; margin-right:24px">
              <base-display
                title="เรือ - เครื่องบิน"
                :text="dataSearch.transportType"
              />
            </div>
          </div>
          <div style="margin-bottom:8px">
            <div style="display:inline-block; margin-right:24px">
              <base-display
                title="ประเทศต้นทาง"
                :text="dataSearch.fromCountry"
                align="center"
              />
            </div>
            <div style="display:inline-block; margin-right:24px">
              <base-display
                :title="`${port}ต้นทาง`"
                :text="dataSearch.fromCountryLocation"
                align="center"
              />
            </div>
            <div style="display:inline-block; margin-right:24px">
              <img
                v-if="dataSearch.transportType == 'AIR'"
                :src="require('@/assets/black-plane.svg')"
              />
              <img v-else :src="require('@/assets/sea-ship.svg')" />
            </div>
            <div style="display:inline-block; margin-right:24px">
              <base-display
                title="ประเทศปลายทาง"
                :text="dataSearch.toCountry"
                align="center"
              />
            </div>
            <div style="display:inline-block; margin-right:24px">
              <base-display
                :title="`${port}ปลายทาง`"
                :text="dataSearch.toCountryLocation"
                align="center"
              />
            </div>
          </div>
          <div>
            <div style="display:inline-block; margin-right:24px">
              <base-display
                title="ช่วงวันที่"
                :text="`${dataSearch.fromDate} - ${dataSearch.toDate}`"
              />
            </div>
            <div
              style="display:inline-block; margin-right:24px"
              v-if="dataSearch.transportType == 'SEA'"
            >
              <base-display
                title="ประเภท Container load"
                :text="dataResultHeader.shipment"
              />
            </div>
            <div
              style="display:inline-block; margin-right:24px"
              v-if="
                dataSearch.transportType == 'SEA' &&
                  dataResultHeader.shipment == 'FCL'
              "
            >
              <base-display
                title="ขนาดตู้ กxยxส (เมตร)"
                :text="dataResultHeader.container"
              />
            </div>
            <div
              style="display:inline-block; margin-right:24px"
              v-if="
                dataSearch.transportType == 'SEA' &&
                  dataResultHeader.shipment == 'FCL'
              "
            >
              <base-display
                title="จำนวน (ตู้)"
                :text="dataResultHeader.containerNo"
              />
            </div>
            <div
              v-if="page == 'calc'"
              style="display:inline-block; margin-right:24px"
            >
              <base-display
                :title="`Volumn (${weightUnit})`"
                :text="dataSearch.weight"
              />
            </div>
            <div
              v-if="page == 'calc'"
              style="display:inline-block; margin-right:24px"
            >
              <base-display
                title="จำนวนรายการ"
                :text="dataSearch.productTypeQty"
              />
            </div>
          </div>
        </v-container>
      </v-card>

      <v-card style="margin-bottom:8px" outlined>
        <v-container>
          <div style="font-size:18px; font-weight:bold; margin-bottom:8px">
            รายละเอียด
          </div>

          <div style="margin-bottom:8px; text-align:right">
            <div v-if="page == 'history'" style="text-align:right">
              <div style="display:inline-block; margin-right:24px">
                <div style="font-size:14px">
                  Invoice
                </div>
                <div style="font-size:16px; font-weight:bold">
                  {{ dataResultHeader.invoice || '-' }}
                </div>
              </div>
              <div style="display:inline-block; margin-right:24px">
                <div style="font-size:14px">
                  ผู้คำนวณ
                </div>
                <div>
                  {{ dataSearch.createUser || '-' }}
                </div>
              </div>
            </div>
          </div>

          <div style="margin-bottom:8px">
            <base-display
              title="ชื่อ Agent"
              :text="dataResultHeader.agentName"
            />
          </div>

          <div style="margin-bottom:8px">
            <div style="display:inline-block; margin-right:24px; min-width:40%">
              <base-display
                title="ประเทศต้นทาง"
                :text="dataResultHeader.fromCountry"
              />
            </div>
            <div style="display:inline-block; margin-right:24px; min-width:40%">
              <base-display
                :title="`${port}ต้นทาง`"
                :text="dataResultHeader.fromLocation"
              />
            </div>
          </div>

          <div style="margin-bottom:8px">
            <div style="display:inline-block; margin-right:24px; min-width:40%">
              <base-display
                title="ประเทศปลายทาง"
                :text="dataResultHeader.toCountry"
              />
            </div>
            <div style="display:inline-block; margin-right:24px; min-width:40%">
              <base-display
                :title="`${port}ปลายทาง`"
                :text="dataResultHeader.toLocation"
              />
            </div>
          </div>

          <div v-if="dataSearch.transportType == 'AIR'">
            <div style="margin-bottom:8px">
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display title="ช่วงวันที่" :text="date" />
              </div>
            </div>
            <div style="margin-bottom:8px">
              <div
                style="display:inline-block; margin-right:24px; min-width:25%"
              >
                <base-display title="เวลาต้นทาง" :text="dataResultHeader.etd" />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:25%"
              >
                <base-display
                  title="เวลาปลายทาง"
                  :text="dataResultHeader.eta"
                />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:25%"
              >
                <base-display title="Day" :text="days" />
              </div>
            </div>
            <div style="margin-bottom:8px">
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="Direct / Transitship"
                  :text="dataResultHeader.tranship"
                />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display title="Carrier" :text="dataResultHeader.carrer" />
              </div>
            </div>
          </div>
          <div v-else>
            <div style="margin-bottom:8px">
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="Cut off"
                  :text="dataResultHeader.cutoff || '-'"
                />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display title="ETD" :text="dataResultHeader.etd || '-'" />
              </div>
            </div>
            <div style="margin-bottom:8px">
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="Direct / Transitship"
                  :text="dataResultHeader.tranship || '-'"
                />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="ประเภท Container load"
                  :text="dataResultHeader.shipment || '-'"
                />
              </div>
            </div>

            <div
              v-if="dataResultHeader.shipment == 'FCL'"
              style="margin-bottom:8px"
            >
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="ขนาดตู้ กxสxย (เมตร)"
                  :text="dataResultHeader.container || '-'"
                />
              </div>
              <div
                style="display:inline-block; margin-right:24px; min-width:40%"
              >
                <base-display
                  title="จำนวน (ตู้)"
                  :text="dataResultHeader.containerNo || '-'"
                />
              </div>
            </div>
          </div>
        </v-container>
      </v-card>
      <!-- </div>

    <div style="page-break-after: always"> -->
      <!-- <v-card style="margin-bottom:8px" outlined>
        <v-container>
          <div style="font-size:20px;font-weight:bold">
            {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
          <div>
            คำนวนค่านำเข้า-ส่งออก / {{ dataResultHeader.agentName }} - Invoice
            {{ dataResultHeader.invoice }}
          </div>
        </v-container>
      </v-card> -->

      <v-card style="margin-bottom:8px" outlined>
        <v-container>
          <div style="font-size:18px; font-weight:bold; margin-bottom:8px 0">
            รายละเอียดค่าใช้จ่าย
          </div>
          <table>
            <tr style="background-color:#777">
              <th style="width:10%; text-align:left; padding:8px">#</th>
              <th style="width:60%; text-align:left; padding:8px">รายการ</th>
              <th style="width:25%; text-align:left; padding:8px">
                ราคา (รวม VAT 7%)
              </th>
            </tr>
            <tr v-for="(item, index) in dataResultDetail" :key="index">
              <td style="text-align:left; padding:8px">{{ index + 1 }}</td>
              <td style="text-align:left; padding:8px">
                {{ item.description }}
              </td>
              <td style="text-align:left; padding:8px">
                <div style="font-weight:bold">
                  {{ numberWithCommas(item.amount) + ' ' + item.currency }}
                </div>
                <div style="font-size:14px; font-weight:bold">
                  {{
                    numberWithCommas(item.otherAmount) +
                      ' ' +
                      item.otherCurrency
                  }}
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left; padding:8px">
                <div style="font-weight:bold">
                  ค่าขนส่งรวม
                </div>
              </td>
              <td style="text-align:left; padding:8px">
                <div style="font-size:20px; font-weight:bold">
                  {{
                    numberWithCommas(dataResultHeader.amount) +
                      ' ' +
                      dataResultHeader.currency
                  }}
                </div>
                <div style="font-size:17px; font-weight:bold">
                  {{
                    numberWithCommas(dataResultHeader.otherAmount) +
                      ' ' +
                      dataResultHeader.otherCurrency
                  }}
                </div>
              </td>
            </tr>
          </table>
        </v-container>
      </v-card>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: ['page', 'dataSearch', 'dataResultHeader', 'dataResultDetail'],
  mounted() {
    if (this.$route.params.type == 'air') {
      this.port = 'สนามบิน'
      this.weightUnit = 'น้ำหนัก'
    } else {
      this.port = 'ท่าเรือ'
      this.weightUnit = 'CBM'
    }
  },
  data() {
    return {
      port: '',
      weightUnit: '',
      items: []
    }
  },
  computed: {
    date() {
      return (
        moment(this.dataResultHeader.startDate).format('DD MMM YY') +
        ' - ' +
        moment(this.dataResultHeader.endDate).format('DD MMM YY')
      )
    },
    days() {
      let days = []
      if (this.dataResultHeader.daily) {
        days.push('Daily')
      } else {
        if (this.dataResultHeader.sun) days.push('S')
        if (this.dataResultHeader.mon) days.push('M')
        if (this.dataResultHeader.tue) days.push('T')
        if (this.dataResultHeader.wed) days.push('W')
        if (this.dataResultHeader.thu) days.push('Th')
        if (this.dataResultHeader.fri) days.push('F')
        if (this.dataResultHeader.sat) days.push('Sa')
      }
      return days.join()
    }
  },
  methods: {
    print() {
      // Pass the element id here
      this.$htmlToPaper('printMe')
    },
    numberWithCommas(x) {
      if (x) return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return 0
    }
  }
}
</script>

<style scoped>
.test {
  margin-right: 24px;
}
</style>
