<template>
  <div>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="items"
      :search="search"
      :hide-default-header="items.length == 0"
      :hide-default-footer="items.length == 0"
      :items-per-page="-1"
      item-key="resultHeaderId"
      show-select
    >
      <template v-slot:header.data-table-select="{ on, props }">
        <span style="font-size:10px"></span>
      </template>
      <template v-slot:item.user_agent="{ item }">
        <div
          class="font-weight-bold"
          :class="{
            'green--text': item.diffPrice == 'D',
            'red--text': item.diffPrice == 'U'
          }"
        >
          {{ item.agent }}
        </div>
        <div>{{ item.weight }}</div>
      </template>
      <template v-slot:item.date="{ item }">
        <v-chip
          v-for="day in item.date.days"
          :key="day.text"
          class="font-weight-bold"
          :color="day.class"
          label
          x-small
          dark
          >{{ day.text }}</v-chip
        >
        <div class="light-blue--text" style="font-size:12px">
          {{ item.date.dateText }}
        </div>
      </template>

      <template v-slot:item.cutoff="{ item }">
        <div>{{ item.cutoff | replaceBlank }}</div>
      </template>
      <template v-slot:item.etd="{ item }">
        <div>{{ item.etd | replaceBlank }}</div>
      </template>
      <template v-slot:item.eta="{ item }">
        <div>{{ item.eta | replaceBlank }}</div>
      </template>
      <template v-slot:item.tranship="{ item }">
        <div>{{ item.tranship | replaceBlank }}</div>
      </template>

      <template v-slot:item.unit="{ item }">
        <div class="font-weight-bold">
          {{ item.otherUnitPrice }} {{ item.otherCurrency }}
        </div>
        <div class="caption">{{ item.unitPrice }} {{ item.currency }}</div>
      </template>
      <template v-slot:item.amount="{ item }">
        <div
          :class="{
            'green--text': item.changePrice == 'D',
            'red--text': item.changePrice == 'U'
          }"
        >
          <div class="font-weight-bold">
            {{ changeCurrency(item.amount) }}
            {{ exchangeRate.currencyCode }}
            <span v-if="item.changePrice == 'U'">&uarr;</span>
            <span v-else-if="item.changePrice == 'D'">&darr;</span>
          </div>
          <div class="caption">{{ item.amount }} {{ item.currency }}</div>
        </div>
      </template>
      <template v-slot:item.manage="{ item }">
        <v-btn
          text
          class="info--text"
          @click="
            redirectToDetail(item.page, item.transportType, item.resultHeaderId)
          "
        >
          <v-icon color="info">search</v-icon>Detail
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  data() {
    return {
      search: '',
      selected: [],
      exchangeCurrency: 'USD'
    }
  },
  watch: {
    selected() {
      this.$emit(
        'input',
        this.selected.map(item => {
          return item.resultHeaderId
        })
      )
    }
  },
  computed: {
    headers() {
      return this.$store.state.tableResultHeaders
    },
    items() {
      return this.$store.state.tableResultItems.map(item => {
        item.unit = item.otherUnitPrice
        item.createDate = moment(item.createDate).format('DD MMM YY - HH:mm')
        return item
      })
    },
    exchangeRate() {
      let exc = this.$store.state.exchangeRate
      if (!exc) {
        exc = [
          {
            currencyCode: 'USD',
            rate: 30.0
          },
          {
            currencyCode: 'EUR',
            rate: 35.0
          },
          {
            currencyCode: 'JPY',
            rate: 0.3
          }
        ]
      }
      exc = exc.find(item => {
        return item.currencyCode == this.exchangeCurrency
      })
      if (exc.length > 1) return exc[0]
      else return { currencyCode: 'USD', rate: 30.0 }
    }
  },
  methods: {
    redirectToDetail(page, transportType, id) {
      // this.$store.commit('CLEAR_TABLE_RESULT')
      this.$router.push({ path: `/${page}/${transportType}/${id}` })
    },
    changeCurrency(amount) {
      amount = parseFloat(amount.replace(',', ''))
      return this.$options.filters.currency(amount / this.exchangeRate.rate)
    }
  }
}
</script>
