<template>
  <v-app>
    <app-bar v-if="this.$route.path != '/login'" />

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  mounted() {
    if (
      localStorage.getItem('loginToken') != null &&
      localStorage.getItem('loginToken') != 'null'
    ) {
      this.$store.dispatch('checkTokenExpired').then(() => {
        if (localStorage.getItem('tokenActive') == 'false') {
          localStorage.clear()
          this.$router.push('/login')
        }
      })
    } else {
      console.log('LOGIN BEFORE GET MENUS')
      this.$router.push('/login')
    }
  }
}
</script>

<style>
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}
.logo-container {
  width: 256px;
  height: 56px;
  line-height: 56px;
  font-size: 32px;
  color: white;
  font-weight: 500;
  /* text-align: center; */
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.17);
}
.avatar-title {
  color: white;
  padding: 0 8px;
  text-transform: capitalize;
}
div.v-list div.v-list-item.v-list-item--link.left-menu,
div.v-list div.v-list-item.v-list-item--link.left-menu i,
div.v-list div.left-menu div.v-list-item.v-list-item--link,
div.v-list div.left-menu div.v-list-item.v-list-item--link i,
div.v-list div.left-menu div.v-list-group__items div.v-list-item {
  color: rgba(255, 255, 255, 0.6) !important;
}
div.v-list div.left-menu div.v-list-group__items {
  background-color: rgba(0, 0, 0, 0.1);
}
hr.v-divider.left-menu {
  border-color: rgba(255, 255, 255, 0.6) !important;
}
.menu-active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.menu-active .v-list-item__title {
  color: #ffffff !important;
}
header div.v-toolbar__content {
  padding: 0px;
}
a {
  text-decoration: none !important;
}

/* override vuetify */
/* dense mode */
.dense.v-text-field--filled > .v-input__control > .v-input__slot,
.dense.v-text-field--full-width > .v-input__control > .v-input__slot,
.dense.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 0 !important;
}
.dense.v-text-field.v-text-field--enclosed .v-input__append-inner,
.dense.v-text-field.v-text-field--enclosed .v-input__append-outer,
.dense.v-text-field.v-text-field--enclosed .v-input__prepend-inner,
.dense.v-text-field.v-text-field--enclosed .v-input__prepend-outer {
  margin: 8px 0 !important;
}
.dense.v-text-field.v-text-field--enclosed:not(.v-select):not(.v-input--is-readonly)
  .v-text-field__details,
.dense.v-text-field.v-text-field--enclosed:not(.v-select):not(.v-input--is-readonly)
  > .v-input__control
  > .v-input__slot {
  padding: 4px 12px;
}
.dense.v-textarea.v-text-field--enclosed .v-text-field__slot textarea {
  padding-right: 0;
}
.dense.v-textarea.v-text-field--box.v-text-field--single-line
  .v-text-field__prefix,
.dense.v-textarea.v-text-field--box.v-text-field--single-line textarea,
.dense.v-textarea.v-text-field--box.v-text-field--outlined
  .v-text-field__prefix,
.dense.v-textarea.v-text-field--box.v-text-field--outlined textarea,
.dense.v-textarea.v-text-field--enclosed.v-text-field--single-line
  .v-text-field__prefix,
.dense.v-textarea.v-text-field--enclosed.v-text-field--single-line textarea,
.dense.v-textarea.v-text-field--enclosed.v-text-field--outlined
  .v-text-field__prefix,
.dense.v-textarea.v-text-field--enclosed.v-text-field--outlined textarea {
  margin-top: 0;
}
</style>
